[2018-02-01 00:10] marmilicious commented on #557
Hello Mark.  What is the WS3811, do you have a link to a data sheet?
I'm not sure I fully understand what you're wanting to do.  Do you have "dumb" (non-addressable) RGB LED strips that you want to control using P9813 chips?

Also, what "Brightness" command are you referring to?  Can you post your code to gist.github.com and share the link?

[2018-02-01 00:19] markbiasotti commented on #557
Do you have "dumb" (non-addressable) RGB LED strips that you want to control using P9813 chips?

Yes, that is correct. Sketch from GitHub is attached.

Thanks

Mark

Mark Biasotti
markbiasotti@gmail.com <mailto:markbiasotti@gmail.com>

"Without Me you can do nothing and if you do nothing, it will be without Me.”

Jesus Christ & Dallas Willard

[2018-02-01 07:42] marmilicious commented on #557
Hmm, I don't see any code or link to your code.

If you have this, as you noted above, in your code's setup() section:
FastLED.addLeds<P9813, DATA_PIN, CLOCK_PIN, RGB>(leds, NUM_LEDS);
then that should be sending the proper signal for the P9813 chip.

I guess you're running the RGB outputs from the P9813 to some MOSFETS for controlling the R,G,B channels on the basic LED strip?

[2018-02-01 17:18] markbiasotti commented on #557
Hi Mark,

I found this page <https://github.com/FastLED/FastLED/wiki/Controlling-leds> and I’m studying it and hopefully understand the FastLED commands and write my own sketch. To answer your question, yes, I have 9ea. P9813 LED Strip MOSFET driver boards that I’m driving 9 non-programable RGB LED strips. I would like to see if I can get the ColorPalette sketch to work with them (driver boards) b

[2018-02-01 17:44] kriegsman commented on #557
I've used those driver boards before, and they work fine with FastLED.
(e.g http://www.dx.com/p/full-color-rgb-led-strip-driver-module-for-arduino-blue-black-314667 )

Each driver board is basically "one LED" as far as the library is concerned.  So if you have nine of these driver boards, you'll want to define NUM_LEDS as 9, and use leds[0] .. leds[9] for setting the colors.

We like to use this g

[2018-02-01 17:46] kriegsman commented on #557
Since there's no library bug report here, I'm going to close this ticket.  The "how to" conversation can continue on the G+ group http://fastled.io/+ ... and I suspect you'll get up and running quickly there!

[2018-02-01 17:46] #557 closed

[2018-02-01 18:19] hamsafar opened #559 "Discord time of 2 or more uno boards after a while"
Hi,
I have 2 uno board and program them to some effects. After run them at a same time,after a while (about 30 secends) missed coordination!
what is my problem from?
Thanks.

Regards
AliReza

[2018-02-01 20:06] markbiasotti commented on #557
Thanks Mark for the reply.  Yes, what you say about how to use the P9813 as one led is the same conclusion that I drew and I will give this a try. Sorry for posting in the wrong section.

thanks

Mark

Mark Biasotti
markbiasotti@gmail.com <mailto:markbiasotti@gmail.com>

"Without Me you can do nothing and if you do nothing, it will be without Me.”

Jesus Christ & Dallas Willard

[2018-02-01 20:39] focalintent commented on #559
Two things compounding - one is that the clocks on these devices aren’t terribly accurate and are prone to drifting.  The other is that they use interrupts to drive the clock, and interrupts are disabled when writing out ws2812 style leds - FastLED attempts to adjust the time accordingly to compensate, but it’s very approximate (still better than losing a few dozen milliseconds every tome show is

[2018-02-01 21:54] kriegsman commented on #557
No problem, hope you get it up and running quickly!

[2018-02-02 00:43] zombodotcom commented on #506
How did you fix this? I added clockless_esp32.h

Do I add a header for it or something?

[2018-02-02 08:58] hamsafar commented on #559
Thanks.
I used external crystal 16.000000 Mhz for them! I enabled interrupt(#define FASTLED_ALLOW_INTERRUPTS 1) but problem is too.
For sync device I can't connect device to to each other because they have distance to gether!
For sync them I used form Ac(50Hz) power and turned it to square pulse 5 volt and connect it to T1(D5).
And calc animations time and set counter to desire time and when timer

[2018-02-02 16:24] focalintent commented on #559
Interrupts are only allowed on arm and esp platforms, the avr is too low powered, and your crystals may still have drift between each other and there’s still the issue of the timer interrupts being disabled (which you could mitigate by using something like apa102 instead).

You should look into using an external RTC (real time clock) on both devices - these will keep accurate time and you can use

[2018-02-03 18:39] hamsafar commented on #559
I will test external RTC.
Thanks

[2018-02-03 18:39] #559 closed

[2018-02-04 04:51] siddharthtaunk opened #560 "RE: Led color changes after 50 leds though the hex passed is same"
Hi,

I am working with FastLED and I face the following issue

I have an array declared as following
**`CRGB color_array[] = {CRGB::Green, CRGB::Red, CRGB::Blue, CRGB::DeepPink, CRGB::Yellow, CRGB::LavenderBlush, CRGB::White, CRGB::DeepSkyBlue, CRGB::Red, CRGB::Moccasin, CRGB::White, CRGB::LemonChiffon};`**

I have declared
`#define NUM_LEDS 500`

but It does not work after 50 lEDs the color start

[2018-02-04 05:00] focalintent commented on #560
I'd need to see the rest of your code to see if there's an issue there  - you also don't mention anything about what hardware you are using - or how it is wired up, or how you are managing or wiring power.  2A is very likely not enough to drive 500 leds, however - where are you injecting power into the strips?   It is possible you're running into power/voltage issues.

[2018-02-04 05:12] siddharthtaunk commented on #560
Hi,

Thanks for the reply, I am using Arduino Uno (atmega328)(for 50 led) and Arduino Mega(amtge 2560)(for 500 LEDs)

Here is the brief excerpt from the code

[code]
connections
**VCC** from 5V 2A supply to Arduino mega and the WS2812 strip
**DATA** only to the strip fron pin 2 of Arduini
**GND** from 5V 2A supply to Arduino mega and the WS2812 strip

Kindly help

[2018-02-04 05:17] focalintent commented on #560
You need to add power to WS2812 leds every 50-100 leds, because of voltage drop along the strips.  Also, 500 WS2812 leds are going to use 0.5A when completely off - and draw as much as 20amp at full white - and 6+ amps at full Red, Green, or Blue - so your power supply is way too small for 500 leds, at least without setting the brightness to something really low.  However, again, you also have a d

[2018-02-04 05:30] siddharthtaunk commented on #560
So if I have to calculate,

20mA per LED
so its 20mA * 150 or 20mA * 500
that comes to 3000mA or 3A+0.5A(for the drivers) for 150 leds
and 10000mA or 10 A(+1A for drivers) for 500 leds

Please correct me if I am wrong.

Thanks for the prompt replies.
Siddharth

[2018-02-04 05:33] focalintent commented on #560
20mA if you only have one of Red, Green, or Blue at full brightness - at full white it is more like 60mA - and the chip draws 1-2mA on its own when none of the leds are on.

[2018-02-04 05:35] siddharthtaunk commented on #560
Apart from the above there is one more issue the Arduino mega hangs and reboots adter a patters which was nkot happening with atmega328(UNO) I have used the **stk500boot_v2_mega2560** bootloader
Fuse bits : Didn't change

**This may be due to less current to the mega to reboot?**(Suspecting)

regards.
Siddharth

[2018-02-04 05:36] focalintent commented on #560
That could certainly happen.  Another cause could be a bug in your code that has you overwritten random memory...

[2018-02-04 05:43] siddharthtaunk commented on #560
and regarding the color change? that may be due to the lack of current?

[2018-02-04 06:09] focalintent commented on #560
Yeah - too much voltage drop can mess with the ability of the leds to read the signal properly

[2018-02-05 05:24] maddogjt opened #561 "3.1.8 Release not available in Arduino Library Manager"
The Arduino library manager is still only showing the 3.1.6 release, although it looks like work was done to publish a 3.1.8 release.

I'm not familiar with the library release process, but according to the docs that I found [here](https://github.com/arduino/Arduino/wiki/Library-Manager-FAQ#how-can-i-publish-a-new-release-once-my-library-is-in-the-list), [library.properties](https://github.com/Fas

[2018-02-05 10:51] kriegsman commented on #561
Thank you, I’ll get on that ASAP.

[2018-02-05 15:27] RickDB commented on #482
Just got a sample of TM1814 RGBW leds, anyone knows if these are supported by forks or backwards compatible with another?

[2018-02-06 11:21] siddharthtaunk commented on #560
Hi,

I still have issues with the color changing, not for R, G and B, but for the other colors they fade to a different colors after 75 LEDs.

Now my supply is an hefty 5V 20A

Is there a problem with the colr
`CRGB color_array[] = {CRGB::Green, CRGB::Red, CRGB::Blue, CRGB::DeepPink, CRGB::Yellow, CRGB::LavenderBlush, CRGB::White, CRGB::DeepSkyBlue, CRGB::Red, CRGB::Moccasin, CRGB::White, CRGB::Le

[2018-02-06 12:33] yesyesuk commented on #560
Have you tried to provide power (5V) in a few places along the strip. The thin, narrow trace for power supply on these strips is not enough to carry that much current and voltage will drop along the strip. At a certain distance it will not be enough voltage for the LEDs to work correctly.
If you have problems from LED number 75, try adding power after 60 LEDs or so.

[2018-02-06 19:38] bbd556 opened #562 "speed is been decreased after afew second in parallel outputs with arduino due"
hi
i  have 2 strip that each strip has 500 leds.
i wrote a program that leds go on from first led
then move until 5th led
when 6th go on then 1th led go off
and when 11th led go on 1th led go on
and go on and off 5 by 5
when leds number go high the speed of move reduced (from 100th led and after it)
i think that in top addresses of leds the ram of arduino due has been full.
i use arduino software1

[2018-02-07 02:17] siddharthtaunk commented on #560
Yes the above solution works great.

How do I get it up and running on Arduino Mega
I have the following bootloader in Arduino mega - **stk500boot_v2_mega2560**
and I have the array size of 500 as seen in the post above `#define NUM_LEDS 500`  the code works hay way and there is no color sequence being followed, its all random.

I strongly guess I don't have the right bootloader.

Kindly help
Sidd

[2018-02-08 06:35] per1234 commented on #521
The Arduino team made the questionable decision to make all Arduino Web Editor users unknowing beta testers for the new [arduino-preprocessor](https://github.com/arduino/arduino-preprocessor) tool. Unfortunately that tool is still a little rough around the edges. One of the outstanding issues is that function prototype generation is broken for any sketch which includes the FastLed library:
https:/

[2018-02-08 06:39] per1234 commented on #561
The library.properties `version` value must be updated before the tag is created. You would need to either redo the 3.1.8 tag or release a new version.

The same issue is also the cause of 3.1.7 not being available in Library Manager:
https://github.com/FastLED/FastLED/blob/3.1.7/library.properties#L2

[2018-02-08 11:26] kriegsman commented on #561
Yep. I’m going to tag 3.1.9.
And possibly add a checklist file to the library for future releasers so we make sure to update everything all at once. Sorry for the delays; we’ll get it straightened out quickly now.

[2018-02-09 08:23] Aminabdiyan opened #564 "FastLED for stm32"
Hi
In which compilers we can use FastLED? Can we use FastLED in keil or compile it with GCC?
How can we use FastLED for stm32 microcontrollers?
Any help would be appreciated.

[2018-02-09 12:22] kasperkamperman commented on #564
There is an implementation for the Particle Photon which has the STM32
microcontroller. So that might be a start.

On 9 Feb 2018 09:23, "Amin" <notifications@github.com> wrote:

[2018-02-10 17:37] atuline opened #565 "Request for sawtooth wave to be added to FastLED. You already have a triangle wave."
Please see the following diagram:

http://cds.linear.com/image/WaveformShapes.png

As a matter of fact, a sawtooth wave in both directions would even be better.

Thanks,

Andrew

[2018-02-12 04:31] KangKamal opened #566 "WS2813 Pin Out and Bug"
i'm using ws2813 and some people says don't connected pin Di1, and just connect pin Di2 to digital arduino,. it's working but my first and second led are as once... so first led and second led assign id 0 (first led and second led = id0), how to fix it to make first led is id 0, second led is id 1, etc...

[2018-02-13 00:11] focalintent commented on #566
Ask on the g+ community - http://FastLED.io/+  - you are more likely to run across current WS2813 users who can help you with your wiring.  I prefer to keep the FastLED issues limited to library bugs/enhancements/tracking.

[2018-02-13 00:11] #566 closed

[2018-02-13 02:48] varinderd commented on #287
Hey guys,

I know this is an old thread, but I can't find this info anywhere and this page comes up in google first.

How are you connecting the ESP-01 to the P9813. ESP-01 has GPIO0 and GPIO2 and my question is which one is going to the P9813 CIN and DIN pins. I could do this by trial and error but I don't wana fry any of these boards.

Thanks,

[2018-02-13 10:39] slowpoek opened #567 "Faster "moving pixel" on WS2812 matrix; FastLED.show() is slow -.-""
Hello everyone, i would highly appreciate any meaningful thought regarding a timing problem with my WS2812-matrix. It's not a precision problem as in "is my ``delay(1000)`` really 1000ms long?", it's about pure speed :)

**project outline / motivation:**
I intend to measure the delay of multiple cameras triggered by the same release signal. I expect 0-10 ms delay values. Therefore, I thought of a

[2018-02-13 11:09] yesyesuk commented on #567
Hi,
have you tried with fewer LEDs? The more LEDs the longer it takes to push the data out to the LEDs. Try with 100 LEDs and see what results you get. You don't need to cut the strip, just set NUM_LEDS to 100 and the other 156 LEDs will just stay off.

[2018-02-13 13:42] slowpoek commented on #567
That is not only a pretty intuitive explanation, and not only does it also deliver a nice-and-easy quickfix strategy, your answer itself turned out to be a really quick one itself! Thank you very much!!

I found the following:
[code]
So depending on the time resolution I intend to measure I can adjust my matrix and give results as in "Those two cameras see the same pixel, so their release had no d

[2018-02-13 15:56] gnkarn commented on #567
I think you should review the code , fast led show and fast led clear should not be inmediately one after the other , a better solution would be just to clear the previous led so you will always have only one pixel on at any time .

[2018-02-13 17:50] rogertheriault commented on #414
Thanks. Only one line needs to change, since the settings are the same
[code]

[2018-02-13 18:25] EmerickPoulin commented on #565
![1060_triangle_saw1_1](https://user-images.githubusercontent.com/31230799/36166671-4755bfc4-10c1-11e8-9954-c13731175f6f.jpg)

credit to the user who posted this image at this site:https://www.muffwiggler.com/forum/viewtopic.php?p=1144128

[2018-02-14 04:29] atuline commented on #565
Thanks. I'll study and play around with those more carefully.

[2018-02-15 08:04] kolyshkin commented on #564
https://github.com/FastLED/FastLED/pull/568

[2018-02-15 08:04] kolyshkin commented on #531
https://github.com/FastLED/FastLED/pull/568

[2018-02-15 08:05] kolyshkin commented on #142
https://github.com/FastLED/FastLED/pull/568

[2018-02-15 12:02] Jorgen-VikingGod commented on #115
any plans to support the ATSAM4Sxx in future release?
@Daniel-dk any progress on your work?

[2018-02-15 15:44] slowpoek commented on #567
Good reminder!
Since I'm happy with yesyesuk's quickfix strategy, I just wanted to share one version of my final code, in case someone has a use for it. Frame times are determined by visually observing multiple cycles and calculating things down (translates to: "there might be a more precise way..."), so better re-evaluate timing on your own setup. Here's a "frame time 10ms" version, the edges of

[2018-02-15 15:44] #567 closed

[2018-02-16 14:36] BANOnotIT opened #569 "Error while tying to compile"
I'm on ubuntu 16.04.3. I wanna compile code with FastLED, but it throws error:

[code]
Compiler command:
[code]
I don't know how to fix it... Can anybody help me?

[2018-02-16 14:40] BANOnotIT commented on #569
I tried 2 versions: this error is throwing on 3.1.6 and the same error throwed on 3.1.8

[2018-02-16 15:54] focalintent commented on #569
FastLED should be installed in your arduino’s libraries directory, not with your sketch.

[2018-02-18 07:51] #562 closed

[2018-02-20 21:38] darkovuj opened #572 "CLEDController.showLeds display wrong color"
If you set LED color to white (eg RGB: 15, 15, 15) and fade it to black you will get wrong color when you update leds with ledController->showLeds(). When value for each color on led is 1 every even led will have values for R and B of 1 and G value will be 0. On odd leds G value will be 1 and R and B 0.
If you use FastLED.show() output is correct.

I'm using fastled version3.1.6

`
#define FASTLED

[2018-02-20 22:02] focalintent commented on #572
You are seeing dithering, and this is how it is supposed to be working.  This is because FastLED.show contains logic to disable the dithering engine when the frame rate is below 100, while the individual controller show method doesn’t.   You should disable dithering on the controllers individually if you don’t want it.

[2018-02-20 22:02] #572 closed

[2018-02-21 03:15] tobiasebsen opened #573 "Support for GE8822"
Can you please support the GE8822 chip? It is quite common nowadays.
Or can you please help me find the correct settings for the ClocklessController ?

Here is the datasheet:
https://drive.google.com/file/d/0B97rs4obIwdZTDd2c3Ffb1BfdzA/view

[2018-02-21 19:37] joshuasiler commented on #504
One more data point, I am also having problems with this library and ESP32, specifically random colors and flickering when I try to do anything.

Everything works fine when I load micropython and use the neopixel library (it's just slow), so I know the wiring is correct.

[2018-02-21 19:55] eshkrab commented on #504
Hey guys,

To be honest, I haven't looked at the fastled port in forever, but my
partner and I did lots of  optimising the RMT peripheral ws2812 code for
the esp-idf, making it much faster for 8 parallel led strips (testing at
200 LEDs/strip) and I believe no flashes.

Once I have free time, we'll clean up and post that and I'll go looking at
my port of the fastled library, now that I'm more verse

[2018-02-21 21:16] samguyer commented on #504
@joshuasiler Try my branch -- let me know if that helps.

[2018-02-22 01:14] joshuasiler commented on #504
Thanks for the comments guys. I found this RMT based code that works perfectly https://github.com/MartyMacGyver/ESP32-Digital-RGB-LED-Drivers

It has both arduino and esp-idf examples - will be going with this for now.

[2018-02-24 19:35] Skuschy commented on #569
I have a very similar problem I think.
I get the following error:
`Documents\Arduino\Sound_STRIP\Sound_STRIP.ino:27:19: fatal error: FastLED: No such file or directory

 #include <FastLED>

                   ^

compilation terminated.

exit status 1
`
I have searched many different websites, but I haven't found anyone yet having this errormessage. How do I fix this?

[2018-02-24 22:03] thymjan commented on #8
Did you know, there is a modified adafruit neopixel library which can handle the TM1829?
Have a look here (it's in german):
https://blog.thesen.eu/aldi-rgb-led-strip-iclite-auf-tms1829-basis-mit-dem-arduino-steuern/
Here is the download link:
https://blog.thesen.eu/wp-content/uploads/2015/01/Aldi_NeoPixel.zip

May this help?

[2018-02-24 22:36] focalintent commented on #569
It's FastLED.h - not FastLED - and that's not this issue.

[2018-02-24 22:36] #569 closed

[2018-02-28 00:29] CLMNTDSGNR opened #574 "FASTLED_USING_NAMESPACE"
Hi,

I have a question, FASTLED_USING_NAMESPACE useful? I use a teensy. I did not really find information or exemple about this function: /

Thank you

[2018-02-28 10:18] gazrowntree commented on #476
Hi, just wanted to add my interest to this item.

[2018-02-28 21:36] focalintent commented on #574
The spark platform required FastLED to be in a namespace - this is a placeholder macro that uses the namespace on the spark platforms but does nothing anywhere else.

[2018-02-28 21:36] #574 closed

[2018-03-02 17:40] skrenes commented on #417
I'm also having this issue (```section `.text' will not fit in region `iram1_0_seg'```) when I call ```FastLED.addLeds``` more than 7 times on my ESP-12E based NodeMCU. For clarity, I'm using FastLED v3.1.6, esp8266 board v2.4.0, Arduino IDE v1.8.5, Mac OSX v10.13.3 -- which is the latest stable version for each piece of software.

Until this is reworked, could the documentation reflect this limit

[2018-03-03 00:14] Zefiro commented on #482
For a quick test of the power consumption of a 5m GRBW strip I used this hack:

    #define NEOPIXELS_NUM 300
    #define NEOPIXELS_NUM_CONVERTED ((NEOPIXELS_NUM * 4 + 2) / 3)
    #include<FastLED.h>
    CRGB leds[NEOPIXELS_NUM_CONVERTED];

    void setup() {
      FastLED.addLeds<WS2811, NEOPIXEL_PIN, RGB>(leds, NEOPIXELS_NUM_CONVERTED);
    }

    void setPixel(int idx, byte red, byte green, byt

[2018-03-03 15:30] bogus105 opened #575 "RGBW How to remap colors? Arduino Uno - SK6812/WS2812B GRBW or WWA"
Hi!

I'd love to make some cool lamp using fire flame fliskering effect. Tried the 'fire2102' and 'palette' version examples from FastLED library with my LED strip - GRBW WS2812B (or SK6812?) diodes 60 per meter.
Apparently an addition of one more color to the chip need one more color information in data packet:)
Now all i can get is nice flickering effect but colors are out of real flames colors

[2018-03-03 21:24] marmilicious commented on #575
RGBW leds are not supported yet.  You should be able to use your White, Warm White, Amber strip though and code the W,W,A while thinking in terms of R,G,B.   CRGB(0,0,255) would give Amber full brightness, CRGB(128,128,128) would give 50% brightness of each, etc.

[2018-03-04 18:26] TomasHubelbauer commented on #158
@SeanGau has the fixes resolved your problems? I have the same setup - Arduino Pro Mini 3.3 V 8 MHz ATMega 328P. I can't get even the simplest program to run, the WS2812B LED strip just won't light up for me no matter what.
I tried using `clock_prescale_set(clock_div_2);` and tried with AdaFruit Neopixel library with 800 Mhz and 400 Mhz settings, too, but nothing happens. I don't have a scope to d

[2018-03-05 12:10] parmarravi opened #576 "Wrong color values mapped in HSV"
Thank you for Fast led library.
The Color in HSV is mapped to 255,255,255 however in reality the HSV color is  360,100,100 .How to use the HSV color in fastLed?

[2018-03-05 13:04] kriegsman commented on #576
FastLED uses an 8-bit native scale, instead of the 360º/100%/100% scale.  There's more written about it here, including some illustrations https://github.com/FastLED/FastLED/wiki/FastLED-HSV-Colors

We like to use this github bug tracker just for bugs in the library itself.  For general discussions, help, and how-to, check out the FastLED discussion group here: http://fastled.io/+
Thanks for using

[2018-03-05 13:04] #576 closed

[2018-03-08 08:19] t-walker-wei opened #577 "How did you push APA102 to 24MHz?"
I use FastLED for my APA102 led strip, but it seems very slow.I want to know how you make it so fast.Thanks.

[2018-03-08 19:11] marmilicious commented on #577
The github bug tracker here is mostly just for bugs in the library itself.  For general discussions, help, and how-to, check out the G+ FastLED discussion group here: http://fastled.io/+

@t-walker-wei  When you post please tell what controller you are using, and put your code on gist.github.com and share the link to the code.  Someone there should be able to give you some tips.

[2018-03-09 09:10] Julian195 opened #578 "prama message showes wrong version"
Hi,

i get a pragma message with the Version im using - now i know its just a info, but first it was iritating :)

But the Problem: the Version shown in the massage is not the sam i have installed -> see picture

![grafik](https://user-images.githubusercontent.com/36444226/37199420-ddd250de-2381-11e8-869a-1e627f96486b.png)

Julian

PS: Great Work - Thanks a lot

[2018-03-10 22:11] bogus105 opened #579 "So good library but where is RGBW leds support?"
Nowadays 4 chips ( Red, Green, Blue, White) LEDs are becoming so popular in lighting applications that RGBW leds support is a must. RGB leds are unable to light up your room with warm, nice looking light.
I've read some months ago that RGBW are not supported by FastLED and that this feature is on the list.
It was many months ago...

Is there any progress in this subject?

We need it so much:)

[2018-03-10 22:26] kriegsman commented on #579
RGBW (etc) support is at the top of our to-do list for our next big projects ... when we have time and energy to dig into it.  However, as you may or may not have read, Dan and I had a death in our family, and we're just not back up to speed yet on library development.

I hope you can find the tools you need for the projects you want to work on.  Right now, FastLED does not yet support RGBW.  We w

[2018-03-10 22:26] #579 closed

[2018-03-11 17:20] bogus105 commented on #575
Thank you for advice.

[2018-03-11 17:40] bogus105 commented on #579
I am so sorry to hear that. Condolence.

Among other reasons i like FastLED lib the important one is "Flame2012" program example:) Would it be possible for you guys to write the description for this example for us, newbies?  I'd love to use this example to put flames on my WhiteWhiteAmber led strips. But firstly i'd love to UNDERSTAND the way you:
1. generate flame effect (that heat cells, etc.)
2

[2018-03-11 17:48] shd7899 commented on #345
Could not find any working SM16703 Arduino library. It's rather a chip in demand. No idea why some far east LED manufacturers claim that its protocol is compatible with ws2811.

[2018-03-12 11:06] lexam79 opened #580 "Inconsistent colors"
Hi all,

I'm writing here too (I've also posted in BRUH's repository, whose project I'm trying to implement), in case someone is able to provide any useful feedback, as I'm starting to go crazy with this. So I built a project, with a WS8211 strip I got off of eBay and a Wemos D1 mini. The problem I'm seeing is that it seems as if leds get "out of sync", i.e. I turn it on (solid color) all leds are

[2018-03-12 11:16] yesyesuk commented on #580
What exactly are you turning off and on?

[2018-03-12 11:40] lexam79 commented on #580
The LED strip. I'm turning the LED strip on/off, via MQTT. This is the project I'm trying to implement: https://github.com/bruhautomation/ESP-MQTT-JSON-Digital-LEDs

[2018-03-12 11:58] yesyesuk commented on #580
ah, OK. I thought you mean you turn power off and on.
How long is the LED strip?

[2018-03-12 12:13] lexam79 commented on #580
It's 4m, with 39 drivers and 3 leds per driver. The power supply is 8A (max consumption of the strip is 36W, according to seller) and I've even injected power in 3 places along the strip and added a 1000uF capacitor next to the Power Supply.

[2018-03-12 12:20] yesyesuk commented on #580
hmm, ok. injecting power along the strip is what I was trying to get at. ;-)
Then I'm out of ideas, I'm afraid...

[2018-03-12 12:22] lexam79 commented on #580
I don't think it's power-related anyway, as it's stable. Inconsistent, but stable. I haven't seen any flickering, random turn offs or anything similar.

[2018-03-12 12:36] yesyesuk commented on #580
And it only happens when you turn the LEDs off (i.e. set them all to black)? Not when setting any other colour?

[2018-03-12 12:40] lexam79 commented on #580
No, it also happens when I switch colors, change brightness etc. I just described the simplest issue, that of turning on-off.

[2018-03-12 13:28] parmarravi commented on #543
How to change the number of leds dynamically?

[2018-03-12 16:08] focalintent commented on #580
You might be running into interrupt related problems - try adjusting the retry count, also see if turning off interrupts (just as a test) helps - https://github.com/FastLED/FastLED/wiki/Interrupt-problems

[2018-03-13 06:08] lexam79 commented on #580
Hi focalintent, it seems that using `#define FASTLED_INTERRUPT_RETRY_COUNT 1` did the trick. I had tried that, as well as `#define FASTLED_ALLOW_INTERRUPTS 0` earlier, when I was trying to drive the strip directly off of the Wemos D1 (@ 3.3v), but did not try it again, after I placed a voltage shifter between the Wemos and the strip. Surprisingly, the behavior I was getting without the shifter (wi

[2018-03-14 19:03] marmilicious commented on #543
@dwc56  @parmarravi   The FastLED library wasn't really designed to have NUM_LEDS be variable, but if you search here and in the G+ group you might find a few solutions.
The easiest work around is to define NUM_LEDS with the maximum number of pixels you'll ever light up, and then use a second variable which you can vary and use in your code as needed.

[2018-03-16 08:02] nixmeer commented on #482
@focalintent Is there any time frame you can tell for RGBW support? Like 2 months or the end of 2018?

[2018-03-20 11:10] rithunrosh commented on #119
Hello friends,is fast LED program work in esp 8266?

[2018-03-20 11:11] rithunrosh commented on #119
Hello friends,is fast LED program work in esp 8266?

[2018-03-20 11:15] JonasVorwerk commented on #119
yes

[2018-03-20 14:47] theiothing commented on #407
@atuline. 1st thing: if you are noob we are all more than ignorants.... 2nd ly. can you use setPeriod outside the function? I recieve timing inputs via MQTT, so I assign them to a global variable and, the only solution I have found  so far, was to handwrite the timing condition, like:
[code]
cheers

[2018-03-20 14:49] tonton81 commented on #407
millis() is uint32_t, NOT uint64_t.

[2018-03-21 13:59] c-e-p-x-u-o opened #581 "unable to compile with MicroCore for attiny13"
https://github.com/MCUdude/MicroCore/issues/54

[code]

Code (it works with arduino atmega and Attiny85  ATTinyCore
[code]

[2018-03-21 16:57] focalintent commented on #581
The problem is there are no pin definitions for the ATTiny13 in https://github.com/FastLED/FastLED/blob/master/platforms/avr/fastpin_avr.h - you would have to add those, as the attiny13 isn't a supported configuration yet.

[2018-03-22 04:59] johnyradio opened #582 "PCA9685 Support?"
hi

can i control the PCA9685 from FastLED running on Arduino Uno or duemilanove?

thx

[2018-03-22 05:14] tonton81 commented on #582
its a free running i2c pwm device, short answer is no. i2c is too slow and you dont control fastled with a consistant pwn

[2018-03-22 05:15] tonton81 commented on #582
unless its normal RGB strip that dont have any chips inside them

[2018-03-22 14:29] Wetterprophet commented on #504
Hey everybody, I always had the problem that my ESP32 resetted on FastLED.show();
Resolved it by calling
#define FASTLED_ALLOW_INTERRUPTS 0
before including the FastLED-library.
Hope that helps ;)

[2018-03-22 14:34] Wetterprophet commented on #507
Hey everybody, I always had the problem that my ESP32 resetted on FastLED.show();
Resolved it by calling
#define FASTLED_ALLOW_INTERRUPTS 0
before including the FastLED-library. also i think that this only works with FastLED version from the 2018/01/18th on.
Hope that helps ;)

[2018-03-22 14:41] focalintent commented on #504
Use sam’s most recent branch - disabling interrupts can break WiFi, which defeats the purposes of using an esp.

[2018-03-22 14:45] focalintent commented on #582
The PCA9685 isn’t currently supported in FastLED.  You can use fastled’s color code to set up your led data, and then use your own code to write it out to the 9685, though.

[2018-03-22 17:29] johnyradio commented on #582
That's what I have in mind.

But is that the best way to generate color patterns for the PCA9685?

Are there any other color pattern libs?

[2018-03-22 19:51] hamid-elaosta commented on #504
I've tried @samguyer fork as well as the SmartLED library, nothing seems to work for my APA102s.

I uploaded the sketch that @Amunds linked and that works perfectly. It doesn't use a library, so obviously it's doing something right that the libraries are not.

[2018-03-22 21:00] samguyer commented on #504
@hamid-elaosta
My guess is you have some other bug in your sketch. The APAs don't really need anything special, since they have a clock signal (unlike WS281x strips). If you post your code on the fastled Google group

[2018-03-22 22:59] hamid-elaosta commented on #504
@samguyer I can see why the scant content of my response might lead you to that assumption, my apologies.

Let me elaborate;

I'm using WEMOS LOLIN32's. I first tested this library last summer, and began following this and other issues when it became apparent that support for the ESP32 was lacking.

I have come back to it, having noticed improvements to the ESP32 support and found it still does no

[2018-03-23 02:40] samguyer commented on #504
@hamid-elaosta It would be great to have someone working on the clocked chip support for ESP32. All of my work had been for clockless chips, like the WS281x family. All of us here work on this code as volunteers -- people who want to make it better. Would you be willing to do some work to improve the APA 102 support? I can provide some guidance on the ESP32 issues.

[2018-03-23 15:05] samguyer commented on #504
@hamid-elaosta Can you post your issue on the FastLED Google+ group? And please include any code that you have tried (including a link the code from Amunds).

[2018-03-23 19:42] hamid-elaosta commented on #504
@samguyer I can post there. I feel this is a better forum for an issue/bug report though?

[2018-03-23 19:54] samguyer commented on #504
@hamid-elaosta I need a lot more information for a bug report. I need all the code you are running, the exact build instructions, and output from the serial monitor showing where the crash is occurring. I'm not at all convinced that there is a bug in library, especially given the large number of people who are using it successfully.

[2018-03-23 20:36] hamid-elaosta commented on #504
@samguyer Ok, so I take a sketch, in PlatformIO (3.5.3a3), such as this one (linked previously)
https://raw.githubusercontent.com/FastLED/FastLED/master/examples/Blink/Blink.ino
I change the FastLED setup line to:
[code]
and I change the constants to:
[code]
I install the library;
[code]
I click the "build" button, then I click the "upload" button, both succeed, and yet my LEDs do nothing useful.

[2018-03-23 20:54] samguyer commented on #504
@hamid-elaosta I don't have much experience with APA 102 strips or the platform io environment. You could very well be right that there is some problem. That's why it is so valuable to post on the Google group -- you might find other people who have encountered the same problem and solved it.

Again, to some degree, your issue is not relevant to my work at all, since APAs are clocked chips.

[2018-03-24 00:47] xcruell opened #583 "First and last LED show wrong color"
Hello,
i recently made a ceiling light with ws2811 leds, but theres one little problem..
The first and last LED show the wrong color, and not only the wrong one, they only show green and blue.
I made a video to demonstrate the issue. You can clearly see, that the first led turns blue, when blue is near the end of the strip. Its like it gets the color from the wrong spot, if that makes sense.

When

[2018-03-24 02:15] focalintent commented on #504
What's needed is for someone to put a scope on the output pins when running APA102 output and see what the clock and date lines look like - the APA102 code is identical across all the platforms FastLED supports - and APA102 is working everywhere else :)

One possible problem may be that the bit-banging is toggling the clock line too quickly (I've seen this happen on some other platforms) - in whic

[2018-03-24 03:00] focalintent commented on #583
What version of the library are you using?  There was an old off by one error in the ws2812 output code on avr - but that was a long time ago.  Also is the nano you're using running at 5v or 3.3v?  I have sometimes seen issues with WS2811's where some data gets lost, usually related to poor level shifting.

As for the esp8266/32 - have you tried adjusting whether or not interrupts are allowed or t

[2018-03-24 03:29] xcruell commented on #583
Hey!
Im using 3.1.6. My Nano is running at 5v.
Maybe thats the issue with the esp8266, since the digital pins output 3.3v.

I tried both, allow interrupts and retry count without success on the esp.

[2018-03-24 12:27] samguyer commented on #504
@hamid-elaosta I asked your question on the Google+ group, and I got an answer almost right away. It jibes with what Dan is saying: you need to set the data rate slower. Here is the example code (notice the data rate argument):

I'm currently using 296 SK9822s in my ESP32 powered hat, using your fork of the library.  They are almost identical to APA102Cs and a lot of the chinese vendors sell them

[2018-03-24 15:40] hamid-elaosta commented on #504
@samguyver Thanks for looking into it. I'm not able to investigate today but I can say that I did try various data rates from 1, 8, 12 and 20MHz, none of which worked, so I'm not sure that's the issue affecting me here.

Unfortunately I don't have a scope at my disposal but I do have a logic analyser so I'll look into the outputs for FastLED vs my working implementation with the Arduino SPI librar

[2018-03-24 18:50] focalintent commented on #504
So, I think the problem may be more to do with how FastLED is doing the delay's for bitbang'd output.  If those delays are effectively getting optimized out, then the ESP32 will absolutely be toggling the clock way too fast for the APA102 - so, I think the problem is that fastled_delay.h needs to be updated for the esp32, to make sure that it's actually delaying for the number of clock cycles aske

[2018-03-24 21:17] samguyer commented on #504
@focalintent The only problem with that theory is that the delay code worked for the clockless chips (their problem was the interrupts). We need to see what the output from the pins looks like.

[2018-03-25 14:09] alonperl opened #584 "making display with 150 X 10 = 1500 PIXELS with FastLED? which uC? which LEDS?"
Hi,
I am a newbie with the FastLED, and I am working on a project to build a wide display, 10 X 150 pixels..
The best kind of leds I found is this ones : [https://www.aliexpress.com/item/DC12V-WS2811-3-leds-26mm-diameter-transparent-cover-LED-Module-Exposed-Point-Light-5050-SMD-RGB/32809327530.html?ws_ab_test=searchweb0_0,searchweb201602_5_10152_10151_10065_10068_10344_10342_10343_10340_10341_1069

[2018-03-26 16:25] samguyer commented on #504
@hamid-elaosta Did you make any progress on this problem?

[2018-03-26 18:13] hamid-elaosta commented on #504
Hi @samguyer, I'm afriad I've had other commitments and have been unable to look at this for the last few days. Perhaps in a day or too I'll be able to take another bash at it.

I have a logic analyser to hand and am looking at acquiring an oscilloscope. I'll get back as soon as I've managed to gather some more data.

[2018-03-26 21:07] samguyer commented on #504
@hamid-elaosta Sounds good. Let me know what you find. We can work together to get it working. This is how I became a contributor to the project -- there wasn't good support for WS2812s on the ESP32, so I started learning about it and working on it myself.

[2018-03-27 05:05] hobzcalvin commented on #491
I'd love to tackle this bug now that @alamut has a simple reproducing example but I don't really know where to begin. Could @samguyer @focalintent @tullo-x86 provide any thoughts on what might be causing the issue? Is this a common thing when an ESP32 runs out of some sort of memory, etc.?

[2018-03-27 07:42] focalintent commented on #491
It’s the watchdog timer - it’s something these systems have to catch the possibility of an infinite loop - and if that happens it resets the MCU.  The question is, what is writing out led data blocking that’s causing the timer to fire - on some systems the timer gets reset every time loop() exits.  On others, every time yield is called.  On still others, it’s enough for certain interrupt handlers

[2018-03-28 04:46] sensboston opened #585 "Feature request: add built-in ability to blink/flash"
I know, it's a pretty easy to make on LED blink; blinking many LEDs are also not too complicated. BTW, will be good to have this functionality built-in in library somehow. I'm not talking about changing CRGB structure (too many possible side effects) but it should be safe & useful way to add periodically blinking LEDs functionality to the library.

[2018-03-28 22:16] jaketesler commented on #579
+1 for support for RGBW (4-element) and RGBWW (5-element) :)

[2018-03-29 05:09] winini opened #586 "ESP32 and Smartmatrix HUB75 - Needs DMAChannel.h ?"
Hello,

I am trying to use a RGB matrix (HUB75) with FastLED.
I installed the Smartmatrix library, but I can not compile the code.
DMAChannel.h error missing.
This file seems to be part of teensy core.

D:\Documents_D\Arduino\libraries\SmartMatrix\SmartMatrix.cpp:26:24: fatal error: DMAChannel.h: No such file or directory
Erreur de compilation pour la carte ESP32 Dev Module
I tried with Smartmatri

[2018-03-29 13:10] yesyesuk commented on #579
I'm also waiting for RGBW support before switching to this library from the Neopixel library.

But isn't RGBWW RGB plus Warm White? I have not seen 5 colour strips. Do you have a link to these?

[2018-03-29 13:18] focalintent commented on #586
The SmartMatrix library is for a specific RGB led matrix, and my understanding is the library requires the Teensy 3.x.  You would need to first port this library - https://hackaday.com/tag/hub75/ - to the esp32 - and then you could write a wrapper for that library for FastLED like the SmartMatrix wrapper in FastLED.

Your compilation errors have to do with the SmartMatrix library, not FastLED.

[2018-03-29 13:18] #586 closed

[2018-03-29 13:22] focalintent commented on #585
Not really - the library mostly focuses on color management and writing out data to actual LEDs, with some utility functions to make writing patterns/animations easier.  What I'm trying to stay away from doing, outside of the example projects, is having the library itself manage animation directly - that's a task for a higher level library.

[2018-03-29 13:22] #585 closed

[2018-03-29 15:14] winini commented on #586
Yes I understand.
I also left my question on the Smartmatrix page.
This is in case someone has already worked on this port to ESP32.
I'm going to watch closely but it seems complicated for me.

Thank you for your response, and your work.

[2018-03-29 16:00] focalintent commented on #586
For a general question like this for the wider community, try asking on the g+ group - FastLED.io/+

[2018-03-29 16:07] winini commented on #586
ok thanks for the information.

[2018-03-29 21:26] connornishijima opened #587 "Request for calculate_unscaled_power_mW(led_buffer, num_leds) and such to be made into public functions for CFastLED"
I'd really like to see something like this be a possibility in the next update:

Let's say our LEDs are first set in a way that would draw exactly 1A, but then I use a "setMaxPower" function to enforce software limiting to 750mA:

    FastLED.setMaxPowerInVoltsAndMilliamps(5, 750);

I wish there were a feature to pull current data about the software power management without setting #defines inside

[2018-03-29 22:11] Hexxdroid opened #588 "wrong color on a code for a rainbow"
[hello,] i just bought an addresable ledstrip, and want to make a rainbow wave. im using arduino nano to controll and power the led.

i have tried different option such as neopixel and it still also have the same problem.
the led that im using is SK6812, but people said that is works as WS2812B.

this is the color that i have:
![jpeg_20180328_192955](https://user-images.githubusercontent.com/37915

[2018-03-29 22:18] the-magister commented on #587
Connor,

You've described the "what" of the ask very precisely.  Could you also
elaborate the "why" behind the ask?  In the context of competing priorities
and limited resources, that information is important.

Put bluntly, are there circumstances in your use case that cannot be solved
by simply selecting an adequate power supply?  I ask, as there's overhead
associated with counting up all of the

[2018-03-30 05:52] jaketesler commented on #579
5 element strips: http://www.witop-tech.com/whats-difference-between-rgbw-and-rgbww-led-strip/

[2018-03-30 18:11] focalintent commented on #579
The re-write that I'm doing for FastLED is intended to address all of these options.  I'm making the underlying data structure for a pixel (currently CRGB - which is just an 8-bit RGB pixel) much more flexible, and by extension, everything that uses it (the code that writes led data out to pixels, color conversions, utility functions, etc...).  And by more flexible, I mean replacing it with someth

[2018-03-31 16:28] JimmyM01 opened #589 "Support for SJ1221/UCS5603"
I've been trying to get some new LEDs working. They're SJ1221s at Shiji-led. They're 12v with 3 dies per color. The SJ1221s have adjustable constant current and are fault tolerant with dual data lines. However their protocol doesn't jive with common WS2811/2812 LEDs. Looking at the protocol it seems that each color in a frame is 12-bits. 8 bits for the brightness of the color and 4 bits to set the

[2018-04-01 01:24] JimmyM01 commented on #589
That protocol is confusing me more and more. I just want some code that I can use to queue up data and send it out with WS2812 timing. WTF is a work code!? Some parts lead me to believe that each led just needs 12bits (8color+4current) but then there's some work code business and then greydata vs grey code. I'm sure part of it is the bad english. But I need to test.

[2018-04-01 12:18] JosefKuchar commented on #588
First of all try RGB, if red is red, green is green, blue is blue. If not, you have different color order (it's GRB for me). Look at this https://github.com/FastLED/FastLED/wiki/Rgb-calibration

[2018-04-01 16:22] janWeinands opened #590 "Fastled STM32 support"
Dear all,

How can we use fastled with arduino IDE and STM32F103RB nucleo board or maple mini?
I tried several forks from the library, several boards implementation, but with every implementation i get different errors.
What is the correct way of using the STM32 boards with Fastled?

Thank you in advance.

[2018-04-01 21:54] artag commented on #449
There now seems to be another revision of the timings.

http://www.world-semi.com/DownLoadFile/136

[2018-04-02 09:28] Hexxdroid commented on #588
the colors are correct , I have done that.

[2018-04-02 10:33] Hexxdroid commented on #588
I followed a guide to see wich chipset my led have. (there was some problem here)
but the colors where wrong and if i tried diffrent RGB ordering(1 red led, 2 green led & 3blue led) and it there was even more problem.

so i tried only 1 led at the time . I started with red
and my red ordering was blue si no proble there

the i do the 2 next and there was more problem
![dsc_0695](https://user-image

[2018-04-02 10:40] JosefKuchar commented on #588
I successfuly compiled my sketch with SK6812 declaration, you can try it

[2018-04-02 10:50] Hexxdroid commented on #588
I have RGBW led, is this like the problem of it?

[2018-04-02 10:52] Hexxdroid commented on #588
@JosefKuchar I don't understand you. did you send code?

[2018-04-02 10:56] JosefKuchar commented on #588
@Hexxdroid Looks like RGBW strips are not supported yet #482

[2018-04-02 11:03] Hexxdroid commented on #588
well thank you very much for helping me.
I was at a lost and you have brght me up thank you! you have my eternal gratitude!

[2018-04-02 17:50] jordanapplewhite commented on #590
Hello! You probably want to refer to the google FastLED Users group for support:
https://plus.google.com/communities/109127054924227823508

I was able to get FastLED compiling for Maple Mini with Kolyshkin's fork here
https://github.com/FastLED/FastLED/pull/568

[2018-04-02 20:03] focalintent commented on #449
This is annoying - one of the things i'm doing to the clockless drivers as part of the RGBW/16-bit re-write is making it easier to define timings based on what's in the datasheets, so people can quickly/easily try different timings, for cases like this when datasheets/timings change...

[2018-04-02 20:10] artag commented on #449
I'm not sure how you'd select the appropriate timings other than experimentally.
I started looking into this because a set of WS2813 leds running from pjrc's Octows2811 code were flickering sometimes. So far, the only explanation I've found is that the timings are at the limit of some specs and the LEDs were cold.

[2018-04-02 20:14] focalintent commented on #449
Eventually, as part of the addLeds specification, people will be able to adjust their timings e.g. be able to say something like:

[code]

I don't have the specific details worked out, but it's become clear to me over the past couple years that I need to make it easier for people to try alternate timings.

[2018-04-02 20:24] artag commented on #449
The Octows2811 code allows changing of the 'high' length of 1 and 0 bits (and the reset time), which doesn't seem enough to meet the specs but probably is. I wonder what difference the 'low' time makes, when the high is defined and the cycle time is also apparently fixed.

The leds I had trouble with produced regenerated bit times of   330 and 650 ns. It could be interesting to see if that has a t

[2018-04-02 20:26] focalintent commented on #449
It might be enough to just define the total and high times, and let the low times be determined automatically working backwards from that.  The main reason I'd consider also having the flexibility for defining both high and low times for both 1 and 0 bits is I have seen data sheets where the timings for 1 and the timings for 0 don't add up : )  But you're right, there'd probably also be a simpler

[2018-04-02 20:27] focalintent commented on #449
I've also found that the timings that the leds worked with could be "tweaked" by adjusting the voltage going into the leds ... it all ends up being very hand wavey, and makes me wish clock+data controllers/chips were more common!

[2018-04-02 20:32] artag commented on #449
You can be sure setup and hold specs would be just as vague !

I started using the 2813s because I had a lot of single-led failures in a batch of 2812s with the resulting loss of the rest of the strip. But I'm unsure how much they help. I'm sure they don't test the leds individually, so I wonder how many leds in a strip are already using their 'fallback' data when shipped ?

[2018-04-02 20:35] artag commented on #449
Another interesting possibility is to receive the data from the far end of the strip and check for corruption.

[2018-04-02 20:36] focalintent commented on #449
Writing avr code to catch the data at the other end is ... tricky :)

[2018-04-02 20:42] artag commented on #449
Yes :)
Could do it for a specific test (wait for rising edge, read repeatedly, analyse results)  but not as a general error check. Maybe the Uart could be tricked into doing it.

[2018-04-02 20:43] focalintent commented on #449
The trick would be getting the timings to line up right - I don't think you'd want to do it on something running at only 8Mhz -- you'd probably want something running at a higher rate that gave you
a  prayer of telling you what your output timing was looking like as well...

[2018-04-02 20:53] artag commented on #449
Yes, you want to look at the regenerated lengths and choose something halfway between

[2018-04-03 11:42] Polishfuze opened #591 "ESP 32 resetting [Core 0 panic'ed (Interrupt wdt timeout on CPU1)]"
I've made some code to control the lights in my room via WiFi and it worked fine on the ESP32 like a month ago, then I changed over to an ESP8266 (cheaper and smaller) which also worked fine, but I wanted to use both cores. When I uploaded my code I got the following message in the serial monitor:
[code]
Backtrace: 0x400d2f7e:0x3ffc76f0 0x40085552:0x3ffc7710`
I've reduced my code and know for a fa

[2018-04-04 06:00] janWeinands commented on #590
I also tried that one, But Where can i place the reg file he mentioned? I Couldnt find a CMSIS directory in the IDE. Thank you in advance.

[2018-04-05 06:41] keesdekoning commented on #591
Put this first in line #define FASTLED_ALLOW_INTERRUPTS 0
Even before #include "fastled.h"
The reason is that the other core has not been stopt ore shut down.
I had the same problem

[2018-04-06 03:42] kriegsman commented on #504
Hi @hamid-elaosta - thanks for the reporting and help on this issue; I'd love to get to the bottom of it.

To that end, @samguyer and I got together in person this evening, with some ESP32 boards, and a logic analyzer, and an assortment of LED strips, including APA102.  We've been sitting here for about three hours now and we've been unable to reproduce the problem.  That is to say: we hooked up a

[2018-04-06 03:47] kriegsman commented on #504
One other thought... perhaps there are different compiler optimization settings being passed in to gcc from the Arduino IDE and the platformio environment; please let us know what you find there.
Thanks again.

[2018-04-06 04:04] focalintent commented on #504
Also - are you sure your test strip is apa102 and not sk9822?  The protocols are slightly different - and at the moment, FastLED keeps them separate.

[2018-04-08 07:41] alonperl opened #593 "Parallel? How to make 10*150 WS2811?"
Hi, I have just found this wiki https://github.com/FastLED/FastLED/wiki/Parallel-Output
I wonder how can I use this OctoWS2811 lib to create 10 lines parallel?
and is it possible with 150 each line?

[2018-04-09 23:41] hamid-elaosta commented on #504
@samguyer @kriegsman Ok guys, so I've spent the evening trying to debug this.

I've got the project building with Arduino IDE 1.8.5 and I'm using the ESP32 board from [here](https://github.com/espressif/arduino-esp32/blob/master/docs/arduino-ide/debian_ubuntu.md)

My hardware is as follows according to the IDE. To be clear, it's a WEMOS LOLIN32:
[code]

I have this sketch which works as expected:

[2018-04-10 01:54] focalintent commented on #504
what is the fastled code that you’re compiling for this - so that can be checked/run by other folks (and to compare the output against code that they’ve had running/working)

[2018-04-10 02:00] focalintent commented on #504
Also - exactly what change did you make to shut up the pragma messages?  Depending on how you did it you might be messing with some library internals for strange effect.

Also - what happens if you use a pair of pins not attached to the SPI hardware?

[2018-04-10 02:07] focalintent commented on #504
Also, from your pragma output I can tell you haven’t grabbed sam’s latest esp32 tree:

[code]

At https://github.com/samguyer/FastLED?files=1

[2018-04-10 03:39] focalintent commented on #504
Looking again at the scope output - it looks like attempts to set the data pin hi are getting optimized out - it’s almost like the compiler is seeing:

[code]

And optimizing away the data pin line - if that’s what’s happening it’s because these two lines effectively become:

[code]

Which probably means a volatile is missing somewhere or not being respected.  Which doesn’t directly explain why th

[2018-04-10 10:01] hamid-elaosta commented on #504
@focalintent Right, I forget about @samguyer fork. I got a little sidetracked having to compile my Logic Analyser software from source because there has been no recent release (time to get a new one I think).

The code I'm compiling is the CalibrateRGB sketch I linked on 22nd March, 22:59 GMT (I'm in the UK).
The only change was the ones listed in that post, I'll link the complete sketch in the ne

[2018-04-11 17:19] hamid-elaosta commented on #504
@focalintent Ok, now the interesting part.

So,
* First I got hold of @samguyer fork, ran that, just to be sure, doesn't work.
* Next I edited the platform.txt for my board and turned off optimisations, still doesn't work.
* I restored the platform.txt to -Os and added the `lo()` in the bitbang file and it works. Tested Calibrate and DemoReel100, both working.
* I restored the bitbang file and set

[2018-04-11 17:27] focalintent commented on #504
Ok - so that write bit method should be set to something like this for now - there may be other ways to tweak how this is handled, but not having a setup that I can actually run and test in, there's a limit to how much experimenting I can do.

[code]

[2018-04-11 18:15] Nick-lab commented on #584
What you are wanting is to matrix the leds you would have an array of arrays process your "image" into that and when you display you would concatenate your array[array[]](s) into your data signal.

this is minified version of your setup (also not very familiar with arduino language yet)
`
var width = 10;
var height = 10
var display = [];

for(var x = 0; x < width; x++){
    for(var y = 0; y < heig

[2018-04-12 11:55] Inkoverflow opened #594 "Display multiple analogread within same strip."
So I've got this 60 led strip which I want to display values from an msgeq7 basically I want 20 leds to display one then the next 20 to display another analog value and the last 20 to display another I was thinking either light intensity or lighting up more leds when value increases but thats beside the issue. How do I include multiple analogreads into one strip?

[2018-04-12 17:02] vshymanskyy opened #595 "NRF52 status"
NRF52 is listed in the upcoming platforms, NRF51 looks to be included already.
Just wanted to create this issue to track the progress. How complex is this, provided that NRF51 support is available? Thx!

[2018-04-13 02:15] focalintent commented on #595
My memory from looking at the data sheets a couple years ago was that there were some significant changes, so it wasn’t clear how much of the nrf51 work I would be able to reuse.  At the moment I’m not doing any major work on the library still, and I’m not aware of anyone attempting an nrf52 port yet.

[2018-04-13 02:17] focalintent commented on #594
This is really a better question for the g+ group (http://FastLED.io/+)- where there’s a wider range of people to help out with how to questions like this - you will likely get answers quicker there.

[2018-04-13 18:39] Inkoverflow commented on #594
Thanks a bunch!

[2018-04-15 04:25] marcmerlin commented on #590
people who may help you with support questions do not look at issues, which are meant to be used for bugs. Please use the G+ community.

[2018-04-15 15:32] marcmerlin commented on #593
the issue tracker is not for support requests, you should use the G+ community

[2018-04-15 16:51] Polishfuze commented on #591
Thanks the first solution worked, but I don't know how to close the issue

[2018-04-15 17:33] marcmerlin commented on #591
next to the comment green button, you have close issue

[2018-04-15 17:58] #591 closed

[2018-04-16 00:30] marcmerlin opened #597 "ESP8266 output with interrupts enabled display occasional garbage when interrupts are received"
This was discussed here
https://plus.google.com/communities/109127054924227823508
Fix is here: https://github.com/FastLED/FastLED/pull/596

[2018-04-16 15:56] Master811129 opened #598 "Atmega32 support(mighty core)"
hi guy,  i have an issue with this library. when i coding with this lib it doesn't compile.
error: multiple library were found.

and when i change the model to arduoino-NG (atmega 8) it works very well.
please help

[2018-04-17 01:40] focalintent commented on #598
What are you building it with, what version of the library are you using, what does the entire build output look like?

error: multiple library were found makes it sounds like you have multiple versions of FastLED installed.

I'm not aware of anyone using the mighty core - so it's likely that the library is missing pin definitions for your board (see platforms/avr/fastpin_avr.h) - but your error m

[2018-04-17 23:45] connornishijima commented on #549
You wouldn't by chance be running FastLED on the GPIO that the built-in LED is tied to, right?

[2018-04-18 00:09] connornishijima commented on #587
I sell edge-lit numeric displays [**like this**](https://www.youtube.com/watch?v=DaQvmIobrKs) that are designed to be easy for beginners - and the Arduino library for them relies on FastLED as a dependency. Because a chain of 6 numbers (20 WS2812B ea.) can _attempt_ to draw up to ~7.2A if written to irresponsibly, I'm trying to add functions to monitor the approximate power usage your LED animatio

[2018-04-18 09:04] VioletGiraffe commented on #491
The same problem with the [following sketch](https://gist.github.com/VioletGiraffe/f25e048f14a21624547d195db57466e8) and WS2812 matrix, doesn't get simpler than that. Note that I even commented out `delay()`, to no avail.

This is with the latest FastLED from the repo and the latest ESP32 Arduino platform from Espressif repo.
Here's the diagnostic output:

[2018-04-18 12:46] samguyer commented on #491
@violetgiraffe Have you tried my branch?

[2018-04-18 12:52] bobybobybob opened #599 "Fastled does errors to Analog Input on ESP8266"
Voltage measure is constant without Fastled on ESP8266  A0

Integrate fastled in code will fluctuate Voltage measure even with no LED is connected.

[2018-04-18 14:30] focalintent commented on #599
Without seeing the code or the way you have things wired it’s difficult to say for sure - but I wonder if analog reads require interrupts and for some led types FastLED dissembles interrupts

[2018-04-18 14:39] VioletGiraffe commented on #491
@samguyer Thanks for getting back to me. I thought the relevant changes had already been merged back into the original FastLED library, but apparently not.
Tried the master branch of your FastLED fork. It's much better, but now i'm getting another problem: only the first 3 LEDs of my 8x8 matrix are lit. Previously, all the LEDs were blinking, so I know the matrix is not defective.

[2018-04-18 14:56] bobybobybob commented on #599
Ok give me one day and i post here a sample to show problem.

[2018-04-18 15:05] samguyer commented on #491
@VioletGiraffe Can you post your code?

[2018-04-18 15:09] VioletGiraffe commented on #491
@samguyer Sure (and I already have):
[code]

[2018-04-18 15:29] samguyer commented on #491
@VioletGiraffe Hmmm. I don't see anything obviously wrong. Can you try something for me? Put the code that sets the dot to black *after* the delay.

[2018-04-18 17:28] VioletGiraffe commented on #491
@samguyer That did it! What are you thinking, got an idea?

[2018-04-18 17:45] samguyer commented on #491
@violetgiraffe Great! Ok, I think I'm being a little aggressive about the asynchronous output, so what's happening is that your code changes the LED to black while my code is still sending the data. That should not be able to happen, so I need to look into the synchronization.

[2018-04-18 21:00] focalintent commented on #599
Also describe how you have things wired up.

[2018-04-18 22:04] johrclaessens opened #600 "WS2812B only give a full white light"
Hi, I've got a problem with my WS2812B LED strip.
I Already googled a lot, but couldn't find the exact problem that I have.

The LED's only give a white color (constant, won't turn off) and won't react to any input signal. I already tried arduino libraries like fastLED and Adafruit Neopixel.

I've tested an original NeoPixel with the libraries and they worked perfect.
Let me know if you need any o

[2018-04-18 22:34] bobybobybob commented on #599
Sorry, i can not reproduce problem with simple code. Result are the same with and not fastled. Look like problem is elsewhere maybe the Wifi ? https://github.com/esp8266/Arduino/issues/2070

[code]

[code]

WeMos D1 Mini
Put 1kOhm from 3.3V to A0
APA106 on 3.3V and Data vom D5

[2018-04-18 22:34] #599 closed

[2018-04-19 23:28] garrettdowd commented on #482
Just my two cents. I have a 2,400 piece RGBW SK6812 LED installation for home automation. I am currently driving it with my own library based on the Adafruit Neopixel RGBW library. My current library is blocking so I rarely play around with animations. I am thinking of rewriting my entire library to be non-blocking, but I would really rather use FastLED.

I am just a hobbyist so I am pretty sure I

[2018-04-21 03:18] BigKMac opened #601 "Issues with IR remote and FastLED"
I'm trying to set up a string of WS2812b LED's to change color/ brightness using an IR remote and the IRLib2 library.

I think i have everything working the way i need it to as far as getting the arduino to change the colors/ brightness of the LED based on different button inputs. However, after a random amount of time, the board just stops accepting inputs and will remain on whatever the last col

[2018-04-21 04:14] focalintent commented on #601
Start here: https://github.com/FastLED/FastLED/wiki/Interrupt-problems

[2018-04-21 21:48] schollman opened #602 "Bug in ColorFromPalette for CHSVPalette16 and CHSVPalette32"
Hi,

I think there is a bug in ColorFromPalette when the hues decrease in value (go backwards)
The following code does the hue interpolation.

uint8_t deltaHue = (uint8_t)(hue2 - hue1);
if( deltaHue & 0x80 ) {
	// go backwards
	hue1 -= scale8( 255 - deltaHue, f2);
} else {
	// go forwards
	hue1 += scale8( deltaHue, f2);
}

The first parameter to scale8 in the backwards case should be equal to the

[2018-04-23 05:17] DaleB-1 opened #603 "Too little power causes flickering and random effects."
Hi Guys,
I love your work with the FastLED library. I have been building the sound sensitive lamp found at Instructibles and one problem and solution I encountered that I didn't see listed in the FAQ was how insufficient power can affect a light strip. When I had my light strip (72 LEDs), Arduino Nano and sound sensor powered by the USB hub connected to my PC, everything worked perfectly. When I d

[2018-04-23 05:26] focalintent commented on #603
https://github.com/FastLED/FastLED/wiki/Wiring-leds#a-word-on-power already talks about power and the effects of too little power and https://github.com/FastLED/FastLED/wiki/Chipset-reference has some power numbers for various chipsets.

[2018-04-23 05:26] #603 closed

[2018-04-30 05:39] marcmerlin commented on #35
and now you can also use my Adafruit Neomatrix port to FastLED: https://github.com/marcmerlin/FastLED_NeoMatrix

[2018-05-03 02:20] Markusenz opened #605 "fastled.delay() causes conflict with show() of main loop using Sam Guyers ESP32 RMT branch"
Having an issue with Sam Guyers branch for ESP32 RMT output, using his latest version. Thanks for the great work you did! However when using more than about 80 LEDs per RMT port, the output signal is messy. I am using the DemoReelESP32 Demo. With logic analyzer I found out that the fastled.delay() function issues it's own show() during it's waiting time, which starts before the show() of my main l

[2018-05-05 02:18] Markusenz commented on #605
that seems resolved with latest version from May02.
Thank you!

[2018-05-05 02:18] #605 closed

[2018-05-07 20:08] kriegsman commented on #602
Yep, I think this is a bug; I'll get on it.

[2018-05-08 18:53] Cysign commented on #504
Didn't get it at all. What do I have to change to make my ESP32 runninf FastLED properly?

At the moment I get:

 #error "XTENSA-architecture microcontrollers are not supported."

[2018-05-08 19:08] samguyer commented on #504
@Cysign First, make sure you have ESP32 support installed in your Arduino IDE. Then get my branch of FastLED. (We are hoping to merge it into the main branch soon.)

[2018-05-08 19:52] Cysign commented on #504
Thanks for your reply. I could manage to compile FastLED, now. But my oscilloscope doesn't show proper results on my FastLED pin.
Have to have a closer look tomorrow ;)

[2018-05-08 20:02] Cysign commented on #504
Looks like it compiled and uploaded well, maybe there's another difference to casual Arduino boards. At the moment I didn't use a level converter, but 3.3V should be fine as high level for WS2812:

C:\Users\<username>\Documents\Arduino\hardware\espressif\esp32/tools/esptool.exe --chip esp32 --port COM8 --baud 921600 --before default_reset --after hard_reset write_flash -z --flash_mode dio --flash_

[2018-05-08 20:40] Cysign commented on #504
Well, didn't know I do not have to use a resistor between my controller and WS2812.
Now it seems to work - in some degree.

Just connected two LEDs using DemoReel100.
Fading from red to orange works fine. But then there seems to be a hickup while blue is blinking for just a single time and back to red. Might this be a known issue?

[2018-05-10 18:49] phrfpeixoto commented on #504
Hello, I'm struggling to this lib work with some ESP32 dev kits I've got. They have no brand, just say Devkit v1

Here's the simplest skecth possible:
https://gist.github.com/phrfpeixoto/2e7bf3813c039b0191f0eb231cc52d2f

I'm using Arduino IDE 1.8.5 and FastLED 3.1.6. The chip hangs and reboots as soon as the show() is executed.

clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x

[2018-05-10 19:47] phrfpeixoto commented on #504
Just noticed that Arduino IDE reported installed version as 3.1.6, which was latest.
Code was actually reporting 3.1.7. Just installed 3.1.8 manually and will test again.

[2018-05-10 20:29] phrfpeixoto commented on #504
Managed to get it working on the sandbox sketch. I forced a complete recompile after reinstalling esp32 board libs and fastled. Will now try the real deal.

[2018-05-11 02:47] samguyer commented on #504
@phrfpeixoto That's great! Let us know if you run into other problems. Also, there is a really cool plugin for the Arduino IDE that will decode those ESP call stacks and show you where the crash is. Check it out:

https://github.com/me-no-dev/EspExceptionDecoder

[2018-05-11 05:04] phrfpeixoto commented on #504
@samguyer Thanks for the tip. I hope that fix from you fork make to the origin soon.

[2018-05-11 15:00] pfmartins4 opened #606 "Archiving built core (caching)"
I'm trying to use the library in a genuine arduino mega2560. And the same error keep going on. Not even the exemples are running.

Build options changed, rebuilding all
In file included from C:\Program Files (x86)\Arduino\libraries\FastLED\examples\ColorPalette\ColorPalette.ino:1:0:

C:\Program Files (x86)\Arduino\libraries\FastLED/FastLED.h:17:21: note: #pragma message: FastLED version 3.001.008

[2018-05-11 15:04] NicoHood commented on #606
This is not an error, just a message?

[2018-05-16 15:55] kriegsman commented on #416
Thanks for the code; we've got an alternate implementation (which does the same thing, basically), but that also allows people to switch back and forth in case they need to preserve the old 'look' for some reason.  I'll be committing it shortly.  Thank you again for all your help on this one, everyone.

[2018-05-16 16:00] #416 closed

[2018-05-17 02:56] #602 closed

[2018-05-17 02:57] kriegsman commented on #602
Thanks for the clear bug report; I believe that the change that I just committed helps solve this problem. Please do let me know if it solves it for you, or if you're seeing further issues, and we'll reopen the ticket if needed. Thanks again.

[2018-05-21 16:16] huangguozhen commented on #489
@timfield
i use FASTLED_ESP8266_RAW_PIN_ORDER, but it don't work right.

[2018-05-21 18:28] freysup commented on #367
I have same Problem with an 5V 10A Power Supply. So when i used USB Kabel to Power WS2812B 1M 144 LEDS. No Problem. But i don't know the Reason. Could any help?

Best Regards
freysup

[2018-05-23 01:44] TobiasJiupato commented on #282
@cansik Could you share your completed code ? tks!

[2018-05-23 07:37] tonton81 commented on #282
ok when i get home i can

[2018-05-28 13:10] jellewie opened #608 "Spelling mistake"
https://github.com/FastLED/FastLED/wiki/Pixel-reference

"  // Example 3: set color via 'hex color code' (0xRRGBB)
  leds[i] = 0xFF007F;"

should '0xRRGBB' not be '0xRRGGBB' ?

[2018-05-28 14:17] kriegsman commented on #608
Yep- good catch thank you.

[2018-06-03 17:58] laci200270 commented on #551
Hi any chance of SAMD11?

[2018-06-07 20:00] messismore commented on #575
See #482.

[2018-06-09 21:07] yueng6784950 opened #609 "SK6812/WS2812B"

[2018-06-09 22:37] Shantoun opened #610 "LED gone MAD"
So I want to control certain LEDs (in this case the first turning on red), so I used this code after downloading this library, hooking up the live and ground to a 220v to 5v converter and the data feed into the arduino.

#include <FastLED.h>

#define LED_PIN     7
#define NUM_LEDS    30
CRGB leds[NUM_LEDS];

void setup() {
  FastLED.addLeds<WS2812B, LED_PIN, GRB>(leds, NUM_LEDS);

}
void loop() {

[2018-06-09 23:17] Blink515 commented on #610
You need to connect your ground to the Arduino as well.

On Sat, Jun 9, 2018, 4:37 PM Shantoun <notifications@github.com> wrote:

[2018-06-10 03:00] focalintent commented on #609
There’s nothing in here.  Closing.

[2018-06-10 03:00] #609 closed

[2018-06-10 04:47] Yitnim opened #611 "OpenWest 2018 Badge - Arduino.ide erroring when uploading - ESP2866 module"
The attendees at the OpenWest 2018 conference received badges that allowed components to be soldered on to them at the conference. I've tried everything I can to get mine to work properly and it keeps giving me the same errors

--
In file included from C:\Users\Trevor\Desktop\Arduino Badge\OpenWest2018.ino\OpenWest2018.ino.ino:20:0:

C:\Users\Trevor\Documents\Arduino\libraries\FastLED/FastLED.h:17

[2018-06-10 04:52] Yitnim commented on #611
Little side note, my port is on com8 I have no idea what value this information might present, but it seems useful so I'll include it

[2018-06-10 10:09] Shantoun commented on #610
Thank you, that fixed everything!!

[2018-06-12 16:44] #610 closed

[2018-06-14 02:01] krisha opened #613 "fill_rainbow() with negative led count"
what do you think about supporting a negative count on fill_rainbow() function for reverse direction?

[2018-06-14 05:00] jd-boyd opened #614 "Color issues with SparkFun Lumenati"
The product description says these boards use APA102C LED chips.  See here: https://learn.sparkfun.com/tutorials/lumenati-hookup-guide

I'm finding that for colors CRGB:Green works correctly, but CRGB::Blue gives me red and CRGB::Red gives me blue.

I will dig into it further when I can back to it, but I wanted to note the problem in case anyone else knew anything about it already.

[2018-06-14 13:20] makarij commented on #614
#define COLOR_ORDER GRB - whatever sequence RGB try to swap mismatching ones. For me worked:)

[2018-06-14 17:35] marmilicious commented on #614
@jd-boyd  You should be able to sort out what you need to use with the FastLED example RGBCalibrate.ino here:
https://github.com/FastLED/FastLED/blob/master/examples/RGBCalibrate/RGBCalibrate.ino

[2018-06-14 17:48] marmilicious commented on #613
@krisha  The range for hue is 0-255.   Subtracting below 0 will wrap around 255 (and then you can keep subtracting and go down from there).
See this post for some more info and examples:
https://plus.google.com/100542328320334100166/posts/Y5BdWFEvfo1

[2018-06-16 19:55] Talamis commented on #345
+1 for sm16703

[2018-06-17 00:43] Vashiru commented on #298
Somebody has added support for the Iteaduino Light on Arduino 1.6.x here: https://github.com/udif/ITEADSW_Iteaduino-Lite-HSP. I've tried to run the FastLED library on it, but I run into the same kind of impossible contraint errors. The board has been retired though so not sure if it's still worth adding support.

[2018-06-17 16:39] Kyklas opened #615 "ESP32 Reset Duration"
Could someone double check if the following code can be called ?
https://github.com/FastLED/FastLED/blob/master/platforms/esp/32/clockless_esp32.h#L491
`
	    if (done_strip)
		RMTMEM.chan[mRMT_channel].data32[mCurPulse-1].duration1 = RMT_RESET_DURATION;
`
I think done_strip is the while loop is always false, else the loop is exited at the start in the "if not has 1" condition. https://github.com/

[2018-06-17 18:40] focalintent commented on #615
Mark - can you ping @samguyer about this one?

[2018-06-19 02:15] ssilverman opened #616 "Use of n/32 instead of n/64 for APA102 in endBoundary()?"
https://github.com/FastLED/FastLED/blob/385a56fa6318c8928c60042ddb78d65db2811876/chipsets.h#L163

This uses n/32. Curious why this doesn't use n/64? I was under the impression that there needs to be one extra '1' per 2 pixels.
See: https://cpldcpu.wordpress.com/2014/11/30/understanding-the-apa102-superled/

There's no harm in leaving it as-is, but we can possibly get away with sending less data he

[2018-06-19 16:29] marcmerlin commented on #494
I'm using teensy 3.6 too, and arduino-1.8.5-teensyduino-1.41
I am currently running code with
    FastLED.addLeds<WS2811_PORTD,3>(matrixleds, NUMMATRIX/3).setCorrection(TypicalLEDStrip);
and it works fine.
Maybe the bug got fixed since then?

[2018-06-20 15:25] focalintent commented on #616
Because I had runs of strips where n/64 wasn’t enough (possible early apa102 clones? Or bad batches ¯\_(ツ)_/¯) - and the difference in data that we are talking about here is minor enough that I’d rather have things always work.  And specifically, wanted things working in my projects where I was using the 102s

[2018-06-20 15:25] #616 closed

[2018-06-22 20:30] MarkusBec opened #617 "esp32 apa102 at GPIO33 and GPIO32 not working"
i think there is something missing:

/lib/FastLED_ID126/fastspi.h:110:23: note: #pragma message: No hardware SPI pins defined.  All SPI access will default to bitbanged output
#      pragma message "No hardware SPI pins defined.  All SPI access will default to bitbanged output"
^
In file included from /lib/FastLED_ID126/FastLED.h:51:0,
from src/main.cpp:24:
/lib/FastLED_ID126/fastpin.h: In instant

[2018-06-23 00:21] focalintent commented on #617
It has less to do with 32-bit range and more to do with they are accessed via different GPIO registers - and so only pin definitions up to pin 31 are specified in https://github.com/FastLED/FastLED/blob/master/platforms/esp/32/fastpin_esp32.h

Something along the lines of what was done for esp8266 - https://github.com/FastLED/FastLED/blob/master/platforms/esp/8266/fastpin_esp8266.h - or some such.

[2018-06-23 00:23] #601 closed, assigned to nobody

[2018-06-23 00:27] #597 closed

[2018-06-23 00:28] focalintent commented on #593
OctoWS2811 is only 8 lines - you can use WS2811_PORTDC to get up to 16 lines of parallel output without using the OctoWS2811 library as a backend,.

[2018-06-23 00:28] #593 closed

[2018-06-23 00:29] #588 closed

[2018-06-23 00:36] focalintent commented on #587
Look at the functions in https://github.com/FastLED/FastLED/blob/master/power_mgt.h -- those should all still be public/available (in fact, those are the functions that the FastLED object uses under the hood to do its work)

[2018-06-23 00:36] #587 closed

[2018-06-23 00:37] #580 closed

[2018-06-23 00:38] #577 closed

[2018-06-23 00:41] #560 closed

[2018-06-23 00:46] focalintent commented on #551
I'm not currently doing major library work - including new platform support.  I will take a PR if someone does a port/update.  When I do get back to working on the library, my initial focus is going to be on the RGBW support.

[2018-06-23 00:49] focalintent commented on #488
1. No - it was a note to myself that it might have been possible to make it work in the future.
2. it is a typo

but neither of the above matter, because it turns out that even on the teensy 2 allowing interrupts is a bad idea and I yanked all the relevant code out of the avr asm, so even if you set FASTLED_ALLOW_INTERRUPTS to 1 on an avr platform it would have no effect.

[2018-06-23 00:49] #488 closed

[2018-06-23 00:49] #543 closed

[2018-06-23 00:50] #545 closed

[2018-06-23 00:51] focalintent commented on #556
Updated

[2018-06-23 00:51] #556 closed

[2018-06-23 00:51] #542 closed

[2018-06-23 00:52] #538 closed

[2018-06-23 00:53] #526 closed

[2018-06-23 00:54] #534 closed

[2018-06-23 03:52] samguyer commented on #617
@focalintent The issue is that the FastPin definition that I inherited in fastpin_esp32.h uses a 32-bit value for the bit mask, so it cannot represent pins 32 and 33. However, I don't use the code in FastPin at all. Is there any reason to keep it? Could I just define the FastPin class as an empty template?

[2018-06-23 05:39] focalintent commented on #617
So there's the way I did it for the esp8266 - https://github.com/FastLED/FastLED/blob/master/platforms/esp/8266/fastpin_esp8266.h where pin16 is checked for with a constant check at compile time - but the better way is probably something along the lines of how it's done on most other platforms, where an instantiation of FastPIN involves both a pin number _and_ a base port register - which does get

[2018-06-23 12:44] samguyer commented on #617
In the ESP32 case, I never directly write to any of the ports/pins. Given that, could I get away with defining FastPin like this...

[code]

[2018-06-23 21:58] focalintent commented on #617
Except things like the bitbang'd spi output _does_ write to the pins - so there do need to be FastPin definitions there.  WS28xx leds aren't the only ones out there : )

[2018-06-24 01:36] samguyer commented on #617
Oh, duh. All of the drivers for clocked chips need to access the pins. Ok, I'll fix it up

[2018-06-27 08:07] jellewie opened #618 "FastLED changing my array value"
**What stuff is for**
Retrieved[0] = The first character retrieved (~ = 126)
Retrieved[1] = The second character retrieved (~ or M)

**What I do**
Data send '{WAVE}M'
First PrintLine retrieved = 126 {WAVE}
FillSolid
PrintLine the same value as above = 0?

Data send '{WAVE}{WAVE}' (This will not do the fill solid)
First PrintLine retrieved = 126 {WAVE}
PrintLine the same value as above = 126 {WAVE}

[2018-06-27 08:13] jellewie commented on #618
For your confirmation, I can't seem to get V3.1.8 working with this code

[code]

[2018-06-27 08:30] chrisparton1991 commented on #618
This is an off-by-one error in your code. You have 168 LEDs. By doing a fill_solid on LED at index 167 for 2 LEDs, you're writing off the end of the array, which is changing your Retrieved array, which happens to be next to your LEDs array.

Remember that array indexes start at zero, so index 167 is the last element in the array.

[2018-06-27 09:41] jellewie commented on #618
Indeed, thans for the quick responce

This can be marked as fixed

[2018-06-27 09:46] chrisparton1991 commented on #618
No problem, best of luck with the rest of your project! You should consider posting the results in the FastLED community page :)

[2018-06-27 09:49] tomchambers2 opened #619 "FastLED.show() causes servo to twitch"
When running FastLED.show() every 50 miliseconds (by measuring the delta rather than with a delay) and having a servo attached without the servo being sent any code, the servo twitches. This only happens when `.show()` is fired.

[code]

[2018-06-27 19:05] focalintent commented on #619
Unfortunately, servos are driven by interrupts which get disabled while writing out ws2812 data.   Either switch to an led chipset that doesn’t require disabling interrupts like the apa102 or switch to a platform that allows interrupts to run while writing out led data like the teensy 3.x.

[2018-06-27 19:05] focalintent commented on #619
See https://github.com/FastLED/FastLED/wiki/Interrupt-problems for more info

[2018-06-30 15:42] J3698 opened #620 "Servo/Interrupts Solution"
In the wiki under "Interrupt problems," I see that

However Adafruit made a new servo library to fix this called TicoServo that works with a bunch (not all) of the Arduino boards, perhaps that should be mentioned.
https://learn.adafruit.com/neopixels-and-servos/the-ticoservo-library

[2018-07-01 17:36] obdevel commented on #598
I'd welcome support for MightyCore too. Currently it results in a compilation error:
[code]
Arduino 1.8.5, macOS 10.13.5, 644P, MightyCore 2.0.0, standard pinout.
Attempting to use pin PD5, which maps to Arduino pin 13. This pin has no special function on this board, other than being PWM-capable.

Happy to help out with the port if there is documentation available.

Thanks

[2018-07-02 05:48] mdigibou opened #621 "ESP32 Different pins cause boot loop"
Hardware: NodeMCU32s or Wemos32, really doesn't matter much. I use the same sketch across a number of different ESP32 dev boards.

I've been working on a modular sketch where I can specify a code in the beginning of the sketch and it will generate a different output for a different product (all of which are controlled by the same phone BLE software)

Well, I hit a number of just strange and arbitr

[2018-07-02 18:17] MarkusBec commented on #617
any progress with this?

[2018-07-03 02:49] focalintent commented on #621
See #617 - pins above 32 aren’t currently supported - not sure why you weren’t getting a compile error for them - you should’ve been (I think the library was giving an error at one point then someone reset the max pins define without actually adding support)

[2018-07-03 02:51] focalintent commented on #621
Oh - wait, this is with the rmt- that’s why it doesnt catch an error at compile time - @samguyer - thoughts on this with the rmt?

[2018-07-03 14:41] systembolaget opened #622 "APA102 strips with 288 LEDs"
What has to change in code/library regarding running effects along those? Even with highter NUM_LEDS defined, the effects don't "spill over" into the LEDs beyond 144.

Thanks for some hints as to what to do!

[2018-07-04 04:31] chrisparton1991 commented on #622
Judging by your number of LEDs being 288, I'm inclined to think you're using 144 LED/m strips? If so, have you checked the connection between the strips? If you're not already, you could try feeding power into the second strip as well as the first.

This is all speculation though. As @marmilicious said, more info would be useful. I'd be interested to see a photo of your setup, particularly the poi

[2018-07-04 09:23] JustrednaxG opened #623 "Error Message whilst uploading"
Hi,
when I try to upload your code I get this error message:

exit status 1
'TaskHandle_t' does not name a type

Could you help me please?
Thanks in regards.

[2018-07-04 12:32] chrisparton1991 commented on #622
Okay, so I've had a chance to look at the code, and the issue is that you're using 8-bit integers and `random8 ` with a `NUM_LEDS` value of 288.

The `random8` function takes a `uint8_t`, so calling `random8(NUM_LEDS)` is wrapping `NUM_LEDS` around to 32. This means that your `ledStart` value will always be between 0 and 31.

To fix, simply change your `ledstart` and `ledlen` to be `uint16_t` and

[2018-07-04 12:36] chrisparton1991 commented on #623
Hi @JustrednaxG, what type of controller (e.g. Arduino Uno, ESP32) are you using? `TaskHandle_t` is used for ESP32 boards only, so it's possible you've copied some ESP32 code and tried to run it on an Arduino.

If this is your first time using FastLED, consider trying the [Blink demo](https://github.com/FastLED/FastLED/blob/master/examples/Blink/Blink.ino) as that will be easier to get set up, jus

[2018-07-04 12:37] chrisparton1991 commented on #613
Sounds logical to me. Are you happy for the issue to be closed, @krisha?

[2018-07-04 12:49] JustrednaxG commented on #623
Thank you, I will try this out.

[2018-07-04 12:50] JustrednaxG commented on #623
I am using an Arduino Uno for prototyping but I am planning to use an Arduino Nano from Elegoo

[2018-07-04 14:49] systembolaget commented on #622
Chris, very much appreciated.

I was obviously not considering that an 8 bit integer can only hold values from 0 - 255. 288 - 255 = 33.

I better buy an Arduino C book for beginners ; )

[2018-07-04 14:49] #622 closed

[2018-07-04 15:12] krisha commented on #613
yes, think this is enough. thx!

[2018-07-04 15:12] #613 closed

[2018-07-04 22:37] JustrednaxG commented on #623
@chrisparton1991 Thank you for your help, I now have better understanding of the FastLED library and have succesfully used different self-made and pre-made sketches. I will recommend your YouTube channel to anyone having problems with these leds who I know!
Thank you and the best of luck with your YT channel(and the staircase project)

[2018-07-04 22:46] chrisparton1991 commented on #623
Awesome @JustrednaxG, thanks a lot! I'm working hard on Staircase V2, just got to find time around work and other commitments :)

If you want to see other cool FastLED stuff, be sure to check out the FastLED community at http://fastled.io/+. It's active and everyone's really friendly, you can show off your own stuff and ask questions there too!

[2018-07-05 19:31] focalintent commented on #598
Again, pin definitions need to be added in platforms/avr/fastpin_avr.h for this board.

[2018-07-05 22:55] chrisparton1991 commented on #549
You may have solved this by now, but instead of reading the state with `int state = digitalRead(LED_PIN)`, can you try using a global boolean to store the LED state and use that?

Given that the pin is set to output and it has an LED attached, it's possible that reading the pin is always returning LOW.

[2018-07-06 06:50] #618 closed

[2018-07-06 20:14] samguyer commented on #621
Hi! I am working on rewriting the fastpin.h definition for ESP32, but I've noticed that even now is does not have pin instantiations for pins above 32, but that does not cause any compilation error.

@focalintent Can you give me some guidance on what the fastpin interface needs to provide in order to work properly?

[2018-07-06 21:12] focalintent commented on #621
It does cause a compilation error if you try to use pin 32 or above for a bit-banged SPI chipset or if you just try to use/instantiate one on your own - e.g. in a bit of code:

[code]

What do you mean on what the interface needs to provide?  The FastPin interface in there for esp32 has all the methods that it needs - it's just all the i/o registers only refer to the i/o registers for the low 32 p

[2018-07-07 01:20] samguyer commented on #621
@focalintent I think my question is more about what parts of the interface are needed and by what other code. The RMT implementation of the clockless support does not need any of the FastPin methods because only the RMT peripheral accesses the pins.

Here are my main questions:

What methods are needed by other parts of FastLED (presumably, the clocked chips)? Are the 32 bit masks used anywhere ou

[2018-07-07 01:45] focalintent commented on #621
Please implement the full class - I don't know off the top of my head which of the methods are used by what other parts of the code - but what i don't want to do is start tracking with platforms aren't implementing what parts of fastpin - and for now you can probably just call the convenience functions (though that will likely slow down the speed of the bit-bang'd spi output a fair bit), so i woul

[2018-07-07 01:45] focalintent commented on #621
And - looking at the bitbang'd spi code - it makes use of a bunch of the variations in the FastPin class.

[2018-07-07 01:47] samguyer commented on #621
OK, will do. And the whole 32-bit mask thing? It seems to be only a part of the inner workings of the FastPin. Does that sound right?

[2018-07-07 02:03] samguyer commented on #621
Ignore that last comment -- I see where it's using the masks in the bitbanging code.

[2018-07-07 02:36] focalintent commented on #621
the mask method on FastPin is used by the bitbang'd SPI output so it's still needed (how it's implemented internally is ¯\_(ツ)_/¯ - it doesn't have to be the template parameter, though I found having it as a template parameter made a bunch of things easier in the implementation of the templated class)  -- I would imagine the pins above pin32 are just on a separate set of GPIO registers, right? Lik

[2018-07-07 02:39] samguyer commented on #621
Pretty much. Here is the definition of the digitalWrite function from the ESP core:

[code]

[2018-07-07 02:42] samguyer commented on #621
I tried to understand what you did for the ARM chips, which have way more that 32 pins, but all of the macro stuff kind of blew my mind!

[2018-07-07 02:44] samguyer commented on #621
For your amusement: I have two laptops open in front of me right now. On one machine I'm hacking FastLED; on the other I'm running static analysis experiments at Veracode. :-)

[2018-07-07 02:45] focalintent commented on #621
Yeah - trying to access register variables as template parameters got a bit ugly/tricky really fast - especially to get them to be effectively treated as constants at compile time.  (In an ideal world, if the implementation of FastPin is done properly, it will be a write to a register (the MASK value usually) and then a store of that register value to a constant address.  (On AVR this actually com

[2018-07-09 00:34] samguyer commented on #621
OK, I submitted a pull request with the new definitions. I also added an instantiation of FastPin in the clockless template, so that it will also check the pin choice. Let me know if you need anything else.

[2018-07-09 15:50] obdevel commented on #598
Ok, the 644P seems similar enough to the 1284P which is already supported. From my *limited* testing, I can compile and successfully run trivial tests by adding the 644 to the 1284 line in platforms/avr/fastpin_avr.h, e.g.

```#elif defined(__AVR_ATmega1284P__) || defined(__AVR_ATmega644P__)```

Maybe this will provide support for all the MightyCore supported MCUs. @Master811129 - do you want to t

[2018-07-11 02:52] nsepehr commented on #429
I would love to see the SPI support for the ESP8266. When you pass the 1000 LED mark it makes a huge difference having the SPI support. Thanks for all of the hard work you put into this library. It's the fastest I've seen around. Hope you can come back to it for more upgrades.

[2018-07-12 05:49] tavrinnn opened #626 "ESP32 Clockless issues"
Hardware: NodeMCU

My ESP32 crashes when attempting to invoke FastLED.Show(). The error message is as follows:
Guru Meditation Error: Core  0 panic'ed (Interrupt wdt timeout on CPU0)

This is using the latest clockless_esp32.h on the master branch.

I dug through the previous issues and used an earlier version of clockless_esp32.h and that version doesn't seem to crash. The only problem with that

[2018-07-12 13:16] Master811129 commented on #626
Hardware: ESP32 Dev Module
IDE :1.8.5

i have this issue too please help.

[2018-07-13 13:09] Master811129 commented on #626
ok i got it
add this code to the first line of your project (even the "#include <FastLED.h")
#define FASTLED_ALLOW_INTERRUPTS 0
thanks to @marcmerlin
he solved this problem. but what does this code mean? does it disable the interrupts?

[2018-07-13 13:51] marcmerlin commented on #626
FASTLED_ALLOW_INTERRUPTS 0
turns off interrupts while LEDs are being updated. You still get interrupts after the strip had been updated, but not during.
Why you need this on ESP32, no idea. ESP32 is very cool, but also complicated, and gives crashes that are not always what you expect (like the wrong version of FastLED causing crashes in totally unrelated library code)
You should talk to @samguyer

[2018-07-13 14:03] samguyer commented on #626
@marcmerlin @Master811129 @tavrinnn

Hi all! You should not need to worry about disabling interrupts at all using my implementation of clockless_esp32.h, (which is now the default provided in the master branch of FastLED). In fact, I'm pretty sure that the FASTLED_ALLOW_INTERRUPTS directive is not used anywhere in the code.

Also: the latest version can support any number of strips -- it assigns t

[2018-07-14 04:03] tavrinnn commented on #626
As @samguyer said above, disabling interupts won't achieve anything in the clockless_esp32 block as his implementation uses the RMT module to generate the precisely timed parallel led timings.

@samguyer what version of clockless_esp32 should I be using? the version on the master branch? I'll give the exception decoder a go and see what happens too

[2018-07-14 12:07] interrgned opened #627 "Arduino Zero Not working"
Arduino Zero Using this library does not working
LED:WS2812B

[2018-07-14 15:29] samguyer commented on #626
@tavrinnn The current version in the main FastLED branch is good, although I have some updates that should be merged in soon (waiting on a pull request!). If you want the latest-and-greatest you can use my branch.

[2018-07-14 15:29] tavrinnn commented on #626
As @samguyer said above, disabling interupts won't achieve anything in the clockless_esp32 block as his implementation uses the RMT module to generate the precisely timed parallel led timings.

@samguyer what version of clockless_esp32 should I be using? the version on the master branch? I'll give the exception decoder a go and see what happens too

[2018-07-14 15:30] tavrinnn commented on #626
Cheers, I'll give it a go and report back

[2018-07-14 22:30] chrisparton1991 commented on #627
Hi @interrgned, what version of the arduino IDE are you using? And have you had success using FastLED on a different Arduino?

[2018-07-14 23:48] interrgned commented on #627
oh
Arduino IDE version 1.8.5
Library version 3.18
using ESP8266 working

[2018-07-15 00:01] interrgned commented on #627
Measuring the output signal with an oscill
No signal at all

(Use Adafruit NeoPixel Library
The output is only ~760KHz
Same as not working)

[2018-07-15 10:58] chrisparton1991 commented on #627
Interesting. According to #254 the Zero is supported. I don't have one to test with, unfortunately.

Have you tried using different I/O pins? According to #327, pins 4 and 5 didn't work for the poster, so perhaps only some pins will work correctly.

[2018-07-15 11:01] interrgned commented on #627
Tested pins 0 2 3 and 12
Can't work……

[2018-07-15 11:09] interrgned commented on #627
https://github.com/FastLED/FastLED/issues/546
I tried this modification and it didn't work

[2018-07-15 11:45] chrisparton1991 commented on #627
Bummer. Can you share the sketch you're using?

[2018-07-15 11:50] interrgned commented on #627
“Example DemoReel100”
`#include "FastLED.h"

FASTLED_USING_NAMESPACE

// FastLED "100-lines-of-code" demo reel, showing just a few
// of the kinds of animation patterns you can quickly and easily
// compose using FastLED.
//
// This example also shows one easy way to define multiple
// animations patterns and have them automatically rotate.
//
// -Mark Kriegsman, December 2014

#if defined(FASTLED

[2018-07-15 12:02] chrisparton1991 commented on #627
If you're using the standard demoreel you probably don't have any issues with the sketch.

Unfortunately I have to head to bed now, got to work tomorrow.

The only advice I can give you for now is to ensure you're using the latest FastLED version, and perhaps try to get a simpler sketch like the Blink example working, to help rule out any code issues.

Failing that, you'll have to wait for one of

[2018-07-15 14:07] interrgned commented on #627
Thank you very much
good night

[2018-07-16 07:56] tavrinnn commented on #626
Alright so I spent the whole afternoon playing with your latest master branch @samguyer
I also added the ESP32 Exception handler toolset to the Arduino IDE.

Below is what I got when the ESP32 crashes:

[2018-07-16 08:57] thegoodhen opened #629 "Calling FastLED.show twice in a row (sometimes?) causes issues on ESP32"
I've had a code that worked before and i have accidentally been calling FastLED.show twice in a row (once within a pixel-updating function and once outside). It hasn't caused any problems before, but now I have encountered some major flickering.

[2018-07-16 09:32] tavrinnn commented on #626
I have managed to narrow the problem down a bit more

If WiFi.begin() isn't called, FastLED.show() will run flawlessly with the current clockless_esp32 implementation. However, the moment WIFI.begin() gets invoked, the chip will randomly crash when invoking FastLED.show().

Interestingly, the stack trace is only displayed when the FastLED.show() task is assigned to Core0. When I assign it to core

[2018-07-16 13:01] samguyer commented on #626
@tavrinnn If you can send me a sketch that reproduces the problem, that would be great. It's surprising that you're seeing this problem even when FastLED runs on the other core. I'll check it out.

[2018-07-16 15:53] tavrinnn commented on #626
#include <FastLED.h>
#include <WiFi.h>

#define MAX_BRIGHTNESS        10
#define MAX_PIXEL_CHANNELS    8
#define MAX_PIXELS_IN_ROW     144
CRGB led_buff[MAX_PIXEL_CHANNELS * MAX_PIXELS_IN_ROW];

#define FAST_LED_REFRESH_CORE 0

static TaskHandle_t FastLEDRFTH;
static TaskHandle_t MainTH;
static int          FastLEDDelay;

unsigned long frameTime;
uint8_t gHue = 0;

WiFiUDP udpServer;

void simpleR

[2018-07-16 16:15] samguyer commented on #626
Ok, I'll try it out today and let you know what I find.

[2018-07-16 16:18] tavrinnn commented on #626
No worries. Thanks :D

[2018-07-17 00:56] interrgned commented on #627
Zero output signal:
Data 1 ~ 660 KHz 1.500us
Data 0 ~ 640 KHz 1.572us
Frequency will change
And the wavelength is over 1.25us plus or minus 150ns
Not working
The output signal of the ESP8266 is ~730 KHz period 1.372uS
Frequency is stable
Can work

[2018-07-17 03:11] samguyer commented on #626
@tavrinnn I tried your code, and I was able to reproduce the crash you described. Interestingly, it only happens when FastLED.show() is running on the *other* core (Core 0), while the main thread and the WiFi are running on Core 1. When I run everything on Core 1, it seems to work fine. That makes me think it has more to do with synchronization than interrupts.

So, I tried starting with the DemoR

[2018-07-17 03:50] tavrinnn commented on #626
Sure I'll give that one a go and report back later today

[2018-07-17 04:04] focalintent commented on #627
I wonder if the instruction timings are different on the D21 M0+ than other M0+ cores I've worked on? One possible thing to try would be to go into the library headers and remove this line:

https://github.com/FastLED/FastLED/blob/1b44dfa547035e50e3706e0f43c73fa6c460fb17/platforms/arm/d21/led_sysdefs_arm_d21.h#L6

[code]

(If you're curious at a low level what that gates - on some M0's a branch in

[2018-07-17 06:35] interrgned commented on #627
Now see the output signal with an oscilloscope
The signal is normal
But the LED still doesn't work...
strange

[2018-07-17 06:40] interrgned commented on #627
Measured signal
Data0 HIGH 392ns LOW 932ns
Data1 HIGH 996ns LOW 312ns
is correct
LED still does not work……

[2018-07-17 19:15] tavrinnn commented on #626
After a bit of fiddling I decided to ditch the xTaskCreatePinnedToCore() implementation and simply invoked FastLED.show() within the context of the original loop task. It looks pretty promising so far.

I could get the DemoReelESP32 sketch to crash when calling the FastLEDshowESP32() function as well... although with the FastLED.delay() set to a sensible limit in the DemoReel sketch it takes longe

[2018-07-17 19:23] samguyer commented on #626
@tavrinnn I will continue to investigate what's going on in your original code. There is definitely something going on there, although it is strange that it only happens when FastLED.show() is running on the *other* core.

[2018-07-17 19:23] tavrinnn commented on #626
Ah... the success was short lived. It appears that when its invoked directly within loop() the chip just hangs randomly and becomes unresponsive

[2018-07-17 23:06] JimBlob1979 opened #630 "LDP8806 with Arduino Yun"
Okay  I feel really foolish attempting to post an issue here because I'm a total n00b and I'm certain that there is a simple answer to my problem.  I've wired up my LPD8806 lights to my Arduino Yun as follows.

![yun wireing to ldp8806](https://user-images.githubusercontent.com/11572305/42849967-8cbf9d90-89f3-11e8-8351-581890c014af.jpg)

I can't seem to compile **FastLED/examples/DemoReel100/DemoR

[2018-07-17 23:49] focalintent commented on #627
I'm not sure why your leds still aren't working - it's possible you may need a 3.3v to 5v level shifter.  As for the difference in timing, I think the cause may actually be the D21 having single cycle port i/o register write times (the M0 asm code assumes 2 cycle write times - the change I had you make above happens to shift the total timing count in a way that accounts for this, which is why it w

[2018-07-17 23:54] focalintent opened #631 "Verify SAMD21 cycle times"
The SAMD21 used in the Arduino Zero may not be in line with the instruction timing assumptions made in the M0 clockless code - dig into what the actual instruction cycle times are for branch and i/o port writing

[2018-07-18 03:30] interrgned commented on #627
![1531884437143](https://user-images.githubusercontent.com/40616745/42857722-abb5cd0c-8a7d-11e8-8910-fc910d39c9e8.jpg)
Can work!
Use 74HC245 bus buffer
Thank you for your help.

[2018-07-19 02:52] samguyer commented on #626
@tavrinnn Can you pull the latest checkin from my repo? The git commit message is "Experimental". Let me know if it changes the behavior at all. Thanks!

[2018-07-19 03:42] tavrinnn commented on #626
Giving it a go now - Ill let you know how it goes

[2018-07-19 15:58] GizmoTheGreen commented on #413
the changes to led_sysdefs_avr.h by telanoc in combination with FASTLED_NEEDS_YIELD got FastLED lib work for me on attiny 85! :)

why is the timer_millis fix not in FastLED yet?

[2018-07-19 16:22] tavrinnn commented on #626
Well... there's good news and bad news... Good news is that it runs perfect. No locking up on Core1 and no exceptions being thrown on Core0. Onto the Bad news... and that's where it ends. There is none :D

I'll do more testing tomorrow and over the weekend and report back if I come across any strange errors but so far it looks and works great! Cheers!!!!!

[2018-07-19 17:05] samguyer commented on #626
@tavrinnn Ha! You totally got me. Glad to hear it. I'll have to look more closely at why my change fixes the problem. I think it's a memory management and/or memory corruption problem.

[2018-07-19 21:02] focalintent commented on #413
See this on the main github page of  the project:

and there’s no pull request for this - i’ve been merging in pull requests as I see them and they seem safe enough, but I don’t really have an offline environment at the moment where I can juggle/merge code by hand outside of the github UI.

[2018-07-19 22:14] telanoc commented on #413
I forked the project to make a proper pull request but when I went to make the changes in my local copy, it looks like things are already taken care of.  I had made two changes in my gist, but the ATTINY_CORE ifdef is already in your code, and the yield() call isn't flagged as undefined.  Perhaps there were updates to the tiny core that fixed that bit.

To further test, I pulled a new attiny85 out

[2018-07-19 22:14] #413 closed

[2018-07-20 04:02] GizmoTheGreen commented on #413
that's really weird, I just installed both attinycore and fastled(3.1.6) yesterday and it wouldn't compile until I added your first fix and the define to activate the yield code... :/

not sure if it's a bug on arduino side or the uploaded version thats listed in library manager but the fixes were not in it.

[2018-07-22 09:30] tavrinnn commented on #626
The ESP32 has been running flawlessly over the weekend. Happy to close this ticket @samguyer if you're happy with your changes.

Cheers!

[2018-07-23 04:21] nickpleis commented on #595
Just curious as to if anyone is sitting on any progress here?

[2018-07-23 16:36] robboz4 commented on #500
HI!

I'm trying to get an Adafruit Express running with this library. I get the pragma error message listed in the original post, but I have the latest library.  The code compiles and downloads but doesn't run. I tried several examples with the FastLED and they all do the same. I also saw this message in the compile output:
Using library FastLED-3.1.8 at version 3.1.6 in folder: /Users/daverobinso

[2018-07-26 08:58] skullthug commented on #537
@Drivium what ever became of this issue? Did the level shifter do anything for you?
I ask because I'm in the near exact same setup & situation.

[2018-07-29 18:54] lights0123 opened #633 "Arduino Zero millis() and FastLED.delay() are 4x slower with WS2812B"
I have started to play around with the native FastLED support for the Arduino Zero (instead of using FastLED's math with [Adafruit's ZeroDMA](https://github.com/adafruit/Adafruit_NeoPixel_ZeroDMA)). I loaded the ColorPalette example, and noticed that the framerate and update frequency were ¼ of the actual speed. Changing `FastLED.delay(1000 / UPDATES_PER_SECOND);` to `FastLED.delay(1000 / UPDATES_

[2018-08-03 02:48] alexdmiller opened #634 "Indexing of WS2813 pixel strip is off"
I'm experiencing a strange problem when indexing pixels on my WS2813 pixel strip. The indices work fine up until index 63. At that point, they start jumping around. Here's what I mean:

The following code should turn pixel at index 63 to blue:

[code]

Instead, it actually skips a couple of pixels, and turns the pixel at index 65 blue! Even more strangely, setting `leds[64] = CRGB::Blue;` does wha

[2018-08-03 11:36] hristo-atanasov commented on #113
For everyone that is struggling with fixing the ambilight random flickering and the ambilight is made with ws2812b + Raspberry Pi + Arduino there is a few things that each separate one (or any combination of them) can fix the issue. I was struggling few months too. Tried every suggestion on the web (software and hardware), missing one thing that wasn't suggested anywhere. It was not included in an

[2018-08-04 05:38] marmilicious commented on #634
Is this happening on single continuous strip, or do you have a 60 pixel strip and then another connected to that?

[2018-08-04 19:09] alexdmiller commented on #634
It was with multiple shorter strips connected together. I think this was caused by some back up data pins not being connected — we re-soldered everything and it works!

[2018-08-04 19:09] #634 closed

[2018-08-05 21:30] MFornander commented on #481
Note to self since we had to recreate the fix again today:

pixelset.h @ 166
OLD AND BUSTED
`::fill_rainbow(leds+len+1,-len,initialhue,deltahue);`

NEW HOTNESS
`::fill_rainbow(leds+len+1,-len,initialhue-deltahue*len,-deltahue);`

Still planning to file that MR but want to look at the sibling gradient methods to make sure they are not flawed as well.

[2018-08-06 03:36] MFornander commented on #481
The reverse direction was absolutely awesome for us.  We have two strands folded on a pole, and thus have four CPixelViews as if we had four physical strands.  This saved us connectors and development time since other incarnations are not folded.  Very cool abstraction.  Don't gut it :)

[2018-08-06 04:28] focalintent commented on #481
Sorry - should've been clearer - I'm going to gut the implementation - I've been meaning to look at some different ways of doing range selectors as a general idea, to give something a lot more flexible (forward ranges, backward ranges, repeat patterns, skip lists, etc...)

[2018-08-07 03:24] djaubert opened #635 "Adafruit Flora / Feather Speed Difference"
Hello, I see this has been discussed a bit and I'm trying to read through everything to get a better understanding of how I can solve it.

I have been testing the same FastLED demo reel code on an Adafruit Flora board which seems to work great and I just picked up an Adafruit Feather M0 which is supposed to be more powerful and a few of the functions (bpm, juggle, sinelon [all using the beatsin fu

[2018-08-08 01:08] jwente49 opened #636 "when trying to compile the Blink example, I get error message: "unable to rename 'core\core.a'; reason: File exists". I have no idea how to resolve this. Can anyone help?"

[2018-08-08 13:58] guidoffm commented on #491
Experienced the same problem. Continuosly SW_CPU_RESET on show()

[2018-08-08 16:30] samguyer commented on #491
@VioletGiraffe I have made some substantial changes to my branch in the last couple of weeks. I discovered that the heap allocation I was doing was causing memory to become very badly fragmented. That's fixed now.

[2018-08-08 17:07] VioletGiraffe commented on #491
Thanks, great news (and thank you for developing this fork). I'll give it a try as soon as I'm back to working on my ESP32 project.

[2018-08-08 18:13] guidoffm commented on #491
[code]

[2018-08-08 21:33] focalintent commented on #636
I need a bit more context - what hardware are you trying to compile for, and what version of Arduino are you using?  core/core.a sounds like something that is way outside of the realm of what FastLED references.

[2018-08-09 03:16] jwente49 commented on #636
I found that usually I can just compile again and it doesn't give this error. Found other users had same experience.  Sounds to me like a bug in the Arduino app. Now happens on other scripts I wrote years ago. It never happened back then, but that was an older version of the app.On Aug 8, 2018 4:33 PM, Daniel Garcia <notifications@github.com> wrote:I need a bit more context - what hardware are you

[2018-08-10 13:41] HorstBaerbel commented on #504
@samguyer: Have been trying out your fork on the ESP32 with WS2812Bs and parallel output does not seem to work (my code works on the ESP8266).

[code]
Only the first half of the strips it lit correctly, the other randomly. Swapping pin 19 / 23 does not change anything, so I guess it must be the library. Am I doing something wrong?

[2018-08-10 17:33] samguyer commented on #504
@HorstBaerbel That is strange. Let me try out your code, and I'll get back to you soon.

[2018-08-11 01:51] HinamoreCh4n opened #637 "ESP32 Flickering and inconsistencies even with interrupts disabled"
Hello, im trying to port a esp8266 sketch that syncs ws2812b pixels to music, now it does kind of work on my esp32 but there are major flickering issues and animation inconsistencies, the framerate also sometimes drops to 1 every second or two. i suspect this is because im fetching the led information over wifi but it works perfectly fine on a esp8266. Heres the sketch: https://hastebin.com/ebukad

[2018-08-11 05:53] marmilicious commented on #637
For the ESP32 try using the FastLED fork by @samguyer
https://github.com/samguyer/FastLED

[2018-08-11 23:33] rorosaurus opened #638 "FastLED allows interrupts while bitbanging output, resulting in glitchy animations"
I see this strange behavior during animations which fade to black on the my neopixels.

I know neopixels have some strange behavior at low brightness settings, do we know if that is the problem?

![neopixel-fade-out-flicker](https://user-images.githubusercontent.com/908662/43996973-1011b86a-9d84-11e8-8bd5-b8b38ddca0e0.gif)

Code is the DemoReel100 FastLED example.  .gif above is slowed 50% to make

[2018-08-14 17:25] samguyer commented on #504
@HorstBaerbel I was not able to reproduce the problem on my setup. Can you tell me about the hardware you're using?

[2018-08-14 17:39] HorstBaerbel commented on #504
Thanks for trying. I use a WEMOS Lolin32 clone and a 30A 5V power supply. All 18 strips have 5V and GND individually fed in from the strip start. The script ran on an ESP8266 (ModeMCU clone), but it was flickering etc. like hell because of interrupts. I wanted to use WiFi / Websockets, so figured I should try with an ESP32 to get a stable display. I don't use a level converter, but all my other pr

[2018-08-14 17:55] samguyer commented on #504
@HorstBaerbel Can you try something out for me? Instead of using showColor, can you call fill_solid to set the color, then call FastLED.show() separately.

[2018-08-14 19:09] HorstBaerbel commented on #504
I found the problem using my (handheld, small and crappy) oscilloscope. I seem to have shorted out pin 19 to GND on the prototype board and were no signals on pin 19. Thanks for the help and sorry for the hassle!
Parallel mode with 540 LEDs is pretty smooth now on the ESP32. Without frame rate limiting (no "EVERY_N_MILLISECONDS") I see a flicker every ~20-30s, but at 60Hz it seems to be gone. Nice

[2018-08-15 00:40] rorosaurus commented on #638
I was able to confirm a similar flicker on my WS2812B strip as well during this example demo, so I no longer think it is related to the LED type.

[2018-08-15 02:44] samguyer commented on #504
@HorstBaerbel That's great! Glad to hear you fixed the problem (and that it wasn't some terrible bug in the library!)

[2018-08-15 07:07] DrBit commented on #638
I can also confirm a similar behaviour in one of my simple examples. Maybe in my case is due to using an ESP32? It seemed that it started when i used wifi together with  the ws2812. I have to further test it

[2018-08-15 21:05] DrDiodac commented on #638
I also confirm.. horrible flicking/blinking witch WS2812B, i tested also other settings without success.
My code runs on Teensy 3.1. Any suggestion/tips how to overcome problems like that??

[2018-08-15 21:58] pickledgator opened #639 "Support for Feather M4 Express (SAMD51)"
Hi all, is there listed support for the newer Feather M4 Express boards from Adafruit? It seems that the M0 Express boards compile FastLED just fine, however, the SAMD51 boards throw a spew of conflicts.

[code]

[2018-08-16 05:00] rorosaurus commented on #638
Interestingly, I wasn't able to reproduce this issue on my Trinket-powered neopixel goggles...

[2018-08-16 19:48] usane1 commented on #482
Hi!

Have anyone experienced a minimum dimmable condition with sk6812rgbw?
I ordered few strips from aliexpress and just found out the minimum brightness is at 64. Below this the leds arent light.

[2018-08-17 01:33] rorosaurus commented on #638
Reproduces whether I power the LEDs from 5V or 3.3V, so not a data signal strength ratio issue I think.

[2018-08-17 03:02] vccabral opened #640 "Support for ItsyBitsy M4 (SAMD51)"
I want to use FastLED with new ItsyBitsy. The board can only use pin 5 at 5v unless it is level shifted, not sure if that is relevant.

This seems to be very similar to #639

[code]

[2018-08-17 23:44] 7lbmonkey opened #641 "Brightness floor not functional with color correction."
Using color correction at low light levels results in some led's turning off entirely, rather then staying floored. A white light dimmed down would become yellow, then red.
I'm unfamiliar with the library, but I'm looking for where color correction is actually applied?

[2018-08-18 06:31] focalintent commented on #641
The color correction is basically just an extra level of scaling applied to the output values - as the color correction itself is expressed as a scaling operation - and right now the scaling floors to 0 not 1 (in part to avoid having the overhead of checking for a non-zero start, e.g. for the asm optimized code where I'm out of cycles on some platforms - but also because we made a conscious choice

[2018-08-18 06:38] focalintent commented on #640
If the SAMD51 is effectively the same as the SAMD21 then there just needs to be a platform/pin definitions for the ItsyBitsy M4 added to https://github.com/FastLED/FastLED/blob/master/platforms.h and https://github.com/FastLED/FastLED/blob/master/led_sysdefs.h and https://github.com/FastLED/FastLED/blob/master/platforms/arm/sam/fastpin_arm_sam.h -- if the SAMD51 is significantly different in any w

[2018-08-18 06:43] focalintent commented on #639
To borrow my comment from #640:

If the SAMD51 is effectively the same as the SAMD21 then there just needs to be a platform/pin definitions for the ItsyBitsy M4 added to https://github.com/FastLED/FastLED/blob/master/platforms.h and https://github.com/FastLED/FastLED/blob/master/led_sysdefs.h and https://github.com/FastLED/FastLED/blob/master/platforms/arm/sam/fastpin_arm_sam.h -- if the SAMD51 is

[2018-08-18 17:16] HardProg opened #642 "The syntax is not highlighted"
I can not open Pull requests, so I open Issue
The syntax is not highlighted:
setMaxPowerInVoltsAndMilliamps
setMaxPowerInMilliWatts
setMaxRefreshRate
clearData
setDither

### solution:
### add in keywords:
### clearData	KEYWORD2
setMaxPowerInVoltsAndMilliamps	KEYWORD2
setMaxPowerInMilliWatts	KEYWORD2
setMaxRefreshRate	KEYWORD2
setDither	KEYWORD2

[2018-08-18 18:31] 7lbmonkey commented on #641
Thanks for the explaination, I appreciate it. I added my own color correction on the front end, and realized you were right to make it floor to 0. It looked bad, but not nearly as distracting as flooring to 1. I got results I was happy with by just clipping off every color below the ratio I wanted and filling with black.
And thanks again for such a fast and helpful response!

[2018-08-20 04:04] vccabral commented on #640
@focalintent, I am reading the guide and attempting to work on a port. I want to test out the existing SAMD21 code base.

When the porting.md guide instructs the developer to "conditionally include platform sysdefs header file".

1. Are these the locations I need to conditionally include platforms?
https://github.com/FastLED/FastLED/blob/master/led_sysdefs.h#L24-L25
https://github.com/FastLED/Fast

[2018-08-20 04:47] focalintent commented on #640
I’ve found finding them to be a bit of a black art and mostly do it by trial and error and header file digging.

[2018-08-20 13:05] hamburgtech commented on #504
Hi guys,

I am working on a POV project, that is using 4 single strips of apa102 leds rotation around the core.
The used controller is a ESP32, because it's quite cheap and offers a good performance and Bluetooth + Wifi. We are using 4 different strips to display a 70 x 200 image, because of the 4 different stripes we can run at lower RPM and therefore have less noise, but still have a flicker fre

[2018-08-20 18:12] focalintent commented on #504
Adding hardware SPI for esp32 is on the “will eventually get done” list - but I don’t have a timeframe for it yet (and no one has submitted support for it)

[2018-08-20 20:35] hamburgtech commented on #504
@focalintent Thanks for your quick reply.
Okay sad to hear that it's officially not supported. Is there any known branch that have SPI support for the ESP32?
The ESP32 is a perfect platform for POV project, it's cheap, has a lot of performance, BT and Wifi and so on. But without that SPI support it can't be used like that with FastLED.

Well I will try to get into it and create some ESP32 solution

[2018-08-20 22:03] hamid-elaosta commented on #504
@hamburgtech I tried to add hardware SPI but FastLED is a big project and I'm not familiar with its code base. I ended up writing a simple sketch for ESP32 to take advantage of hardware SPI for my purposes (Hyperion) as the APA102s I'm using are really simple to control over SPI.

[2018-08-20 22:15] focalintent commented on #504
From https://github.com/FastLED/FastLED/blob/master/PORTING.md

[code]

The AVR example of how to do this is presets straightforward and can be used as a reference - https://github.com/FastLED/FastLED/blob/master/platforms/avr/fastspi_avr.h - also the teensy 3.2’s support, though that’s a bit more complex - https://github.com/FastLED/FastLED/blob/master/platforms/arm/k20/fastspi_arm_k20.h

The big

[2018-08-22 00:41] rorosaurus commented on #638
Hi everyone, I found a solution from the helpful google+ FastLED community!

Change your include for FastLED to:
[code]

It seems like this issue is called by interrupts being called while fastLED is bitbanging the output to the strips!

[2018-08-22 20:08] DrDiodac commented on #638
If I reproduce my code on ArduinoMega all works very well but on Teensy 3.2 not really, blinking unreasonable but from time when I put my comment about problems I did some progress with bit shifting and timing. Is better, leds now stop blinking just little bit dimming   xD
I not give up and still digging for what I want just smooth changes colours and sequences of columns and rows according to con

[2018-08-22 20:10] DrDiodac commented on #638
#define FASTLED_ALLOW_INTERRUPTS 0
#include "FastLED.h"

In my case, that solution change nothing:-/

[2018-08-22 21:54] focalintent commented on #638
Also try turning off dithering - it’s supposed to turn off if the refresh rate is below 100hz, but that logic may be faulty.

[2018-08-25 10:38] DrDiodac commented on #638
I downloaded from PJRC WS2811Serial lib and go by basic configuration  and now all working perfect without any problems and additional code lines for dithering or interrupts.
WS2811Serial + FastLED is really the best option for Teensy family boards. And if all setup is done correctly, all working nice without any additional work around clock setting. Thank you guys for supporting.

[2018-08-28 11:34] ChristofKaufmann commented on #642
Also `CRGBArray` is missing. Somehow your pull request #643 is broken and should probably be closed. I will open a new one.

[2018-08-29 12:34] NelloCris opened #646 "Fastled 3.2.0 seg fault during linking"
Hi All,
I'm compiling a simple Blink example with more then 6 row like this:
`  FastLED.addLeds<NEOPIXEL, DATA_PIN>(leds, NUM_LEDS);
  FastLED.addLeds<NEOPIXEL, DATA_PIN2>(leds, NUM_LEDS);
   .....`

During linking I got an error in ShowPixels function and the compile operation ended with a segmentation fault.
The same example compile with success with FastLed 3.1.6.

What wrong in 3.2.0?

Best Re

[2018-08-29 18:13] focalintent commented on #646
I need a little bit more information - what version of Arduino are you building with, and what hardware are you building for?

Also sharing both the exact code you’re compiling and the error you are getting would be helpful.

Don’t make me have to guess all of this stuff. I

[2018-08-30 08:58] NelloCris commented on #646
Arduino version: 1.8.6
Hardware: Arduino Pro or Pro Mini with Atmega328p

These are the data pins:

[code]

In setup() I have
[code]

 The error I got:

[code]

If I comment the last two rows of addLeds the program link successfully:
[code]

[2018-08-30 09:39] NelloCris commented on #646
Just copied the same code in other file and it works. I think the problem is only mine. Thanks.

[2018-08-30 09:49] yesyesuk commented on #646
A4 and A5 are the I2C pins. Are you using I2C / Wire somewhere else in your sketch?

[2018-08-30 09:52] NelloCris commented on #646
No. Sometimes it compiles and links well and sometimes not...

[2018-08-30 12:10] NZSmartie commented on #504
I got myself a strip of 150 SK9822 LEDs and this https://github.com/FastLED/FastLED/issues/504#issuecomment-380532364  fixed the issue for me

[code]

[2018-08-31 23:04] #642 closed

[2018-09-01 19:49] gybernat opened #648 "Conttrol multiple led strips whit the same output pin"
Hy. I have a issue/ question! It is posible to conttrol whit the same output pin multiple led strips with UCS1903 driver? I have 6 led strips with 8 ucs1903 on it, and I want to control withe the same output pin all off them( to do the same thing on same time for example: faiding, blinking, rainbow etc).
Thank you

[2018-09-02 19:35] MudiStar opened #649 "Brightness control CHSV vs CRGB"
Hi all,

I recognized a deviation when I want to increase the brightness of the red LED from a WS2812B, COLOR_ORDER GRB.

The program increase the brightness from 0 to e.g. 30 from two LEDs next to each other:
leds[0]=CHSV(0,255,brightness)
leds[1]=CRGB(brightness,0,0)

When I do this, I found that LED "0" stays the same brightness until brightness=16.
Then the brightness makes a "jump", but even

[2018-09-04 00:36] focalintent commented on #649
HSV conversion in FastLED does its own gamma adjustment, which is likely what you are seeing.  Mark can speak more to the specifics of what’s happening here...

[2018-09-04 06:39] baramuse commented on #595
Same here !!
I'll try to dig a little bit to understand the scope of work !

[2018-09-04 19:59] nickpleis commented on #595
I’d be interested in helping. Are there any docs that might be a good
starting point?

On Mon, Sep 3, 2018 at 11:39 PM Baramuse <notifications@github.com> wrote:

[2018-09-07 07:39] MudiStar commented on #649
Ok thanks for your answer.
Is there a way to avoid this?

[2018-09-08 19:13] tmbomber383 commented on #598
I use 644P processors as well. I'm in work on Saturday and tried using this library for the first time and ran into this exact, same, issue...
and came up with the exact, same, solution.
In fastpin_avr.h I modified line 183 from:
#elif defined(__AVR_ATmega1284P__)
to:
#elif defined(__AVR_ATmega1284P__) || defined(__AVR_ATmega644P__)
and I'm up and running.
So, confirmation on this being a solution

[2018-09-08 22:05] focalintent commented on #638
FastLED's allowing of interrupts is intentional - and there's a mechanism to turn it off if it is interfering with your setup.

[2018-09-08 22:05] #638 closed

[2018-09-08 22:06] focalintent commented on #637
Which has now been merged into master/FastLED 3.2

[2018-09-08 22:06] #637 closed

[2018-09-08 22:08] #627 closed

[2018-09-09 00:28] focalintent commented on #649
My recommendation to folks is to generally work entirely in either CHSV or CRGB so that things stay consistent.

[2018-09-09 00:53] kriegsman commented on #649
You are also welcome to clone the hsv2rgb function... but leave out the brightness correction at the end, which might give you a curve like the one to think you might want.

[2018-09-09 06:07] #648 closed

[2018-09-09 16:38] jorgecis opened #651 "ESP32 and WS2812b are not working"
I have a 1m WS2812B strip, runnig the following code in my ESP32 dev, only the first turn on Green all the time, so it never go off, sometimes the brightness is a little different but never go off.

[code]

   I tried all the other examples, most of the time only the first led turn on/flick in ramdom colors. I tried with the pins 12,13,14 all give me same results.

   Using the same wires setup an

[2018-09-09 18:00] focalintent commented on #651
What version of the library do you have I staled?  Also, do you ha e the most recent esp32 platform installed?  Finally, do you have a level shifter between the esp32 and the leds?

[2018-09-09 18:37] jorgecis commented on #651
Hi, Thanks for taking the time to check this issue.

   I was using the last version of everything (ESP32 core, libs, ..), but I found the problem and is not in your code, in many forums and website like this one https://learn.adafruit.com/adafruit-neopixel-uberguide/powering-neopixels it said that we need to install a resistor in the data pin.

  So I did that, I added a 470 Ohm resistor and that

[2018-09-10 01:46] baramuse commented on #595
Well we have the [fastLED implementation of the nrf51](https://github.com/FastLED/FastLED/tree/master/platforms/arm/nrf51), and we have the working [nrf52 on the Adafruit neopixel library](https://github.com/adafruit/Adafruit_NeoPixel/blob/master/Adafruit_NeoPixel.cpp#L1206).
I never been that low level on cpp programming but I can try figuring things out from those two !
@pcaddict would you share

[2018-09-11 07:57] MudiStar commented on #649
@focalintent
I was working only with the CHSV until I recognized the problem

Ok thanks for your support
I will try to work with the CRGB function

[2018-09-11 07:57] #649 closed

[2018-09-14 18:42] DylanMeng opened #652 "ARDUINO_SAMD_ZERO extra/different hardware SPI with SERCOM1"
Hello, currently on Arduino zero the hardware SPI for FastLed is defined by digital pin 24 and 23
#define SPI_DATA 24
#define SPI_CLOCK 23

The problem is when you have other devices on the same SPI. The LED strip will react to any data due to missing chip select.

To get around this problem I am trying to create another hardware SPI on a different SERCOM (SERCOM1).

I successfully created another

[2018-09-15 02:01] focalintent commented on #652
FastLED currently doesn't have any hardware SPI support for the D21 - so you can just tell it to use any pair of pins for clock/data and it will fall back to bitbang'd SPI.

[2018-09-15 21:41] extesy commented on #91
@avilleret @focalintent I've created a pull request #653 to add global brightness support.

[2018-09-18 01:32] R-OLE commented on #565
Also please remove the "aka sawtooth" phrase from the wiki entry on [wave functions](https://github.com/FastLED/FastLED/wiki/FastLED-Wave-Functions) to:
1. Not lead folks astray that are just learning these concepts
2. Avoid confusion with the aptly named functions listed in this issue

[2018-09-22 22:52] OscarBZ opened #655 "Arduino DUE and APA102"
Hello!
I'm using apa102 led strip, 60 leds.
I can't get hardware spi to work correctly on arduino due!
The goal is to get fastest refresh rate as possible.
I have already tested code on arduino mega hardware spi, and it works fine, also when i force software spi on due again everything works fine on scl and mosi (75,76)pins.  But when i try to use hardware spi, the strip  shows garbage(blinking or

[2018-09-22 23:35] vk7hse commented on #293
Just cleaning up old open issues raised by myself and as this one is still open after several years it's pretty fair to say that nothing will be done (and that's totally ok) so I'll close this one. However should at any stage in the future be a need, then this can always be reopened

[2018-09-22 23:35] #293 closed

[2018-09-23 21:16] Smitty357 commented on #457
Which voltage level are you referring to?
Will the additions below help?

[2018-09-24 20:04] #655 closed

[2018-09-24 20:12] OscarBZ commented on #655
Just found out that APA102 that i use is in fact SK9822 LED strip. I dont know for sure. Anyway hardware serial mode on DUES mosi and scl pins  works with this strip when i chose P9813 led in FastLed library with 28mhz setting. In the SK9822 datasheet 30mhz mentioned, but for now more than 28 mhz brings random flickering leds.

[2018-09-26 08:03] cmsavage opened #656 "APA102/SK9822 global brightness sometimes incorrect"
I am very happy that FastLED is now making use of the global brightness aspect of the APA102/SK9822 LEDs.  Even with the brightness turned down very low (and using much less power), these LEDs are capable of providing a wide dynamic range of colors with this feature.

However, while trying out the global brightness setting for an SK9822 LED strip, I noticed some odd brightness behavior that I was

[2018-09-26 08:15] cmsavage commented on #656
Attaching spreadsheet for looking at brightness and scale calculations.

[GlobalBrightness_rollover.xlsx](https://github.com/FastLED/FastLED/files/2418737/GlobalBrightness_rollover.xlsx)

[2018-09-26 08:32] surik00 commented on #345
Wow, it's been more than 2 years and still no support for SM16703

[2018-09-26 11:53] focalintent commented on #345
That’s because major work on the library stopped about two years ago because of this - https://plus.google.com/102282558639672545743/posts/JQKcujjaXXC - and no one has submitted a PR for 16703 support.

[2018-09-26 23:02] extesy commented on #656
I didn't have SK9822 to test this on but I do have it now and will check the math soon.

[2018-09-27 17:53] extesy commented on #656
One thing I've noticed during the testing is that when `setCorrection(TypicalLEDStrip)` is used (like in provided FastLED examples) the hue shift is very apparent on low brightness settings. White color becomes some weird purple-ish tint.

[2018-09-27 18:17] christophepersoz commented on #656
Indeed I also noticed that those days as I switch my led strip from WS2813 to APA102C but I haven’t had the time to find the source of the problem.

[2018-09-27 21:20] cmsavage commented on #656
I have been using `setCorrection(UncorrectedColor)` and did not notice a hue change through even the lowest brightness levels.  Now that I try `setCorrection(TypicalLEDStrip)`, I can see the hue changes at very low brightness changes.  I can see one issue that causes hue changes: the 8-bit storage of the RGB scale factors in the `controller.h` [computeAdjustment()](https://github.com/FastLED/FastL

[2018-09-27 22:48] christophepersoz commented on #656
Thanks for all this explanations.
What I did notice apply to all the brightness scale value corrected. The APA102C tends to be more reddish when setCorrection is applied.
I haven’t had the time to investigate more about this as I’m currently abroad for work.
Keeping you in touch when back home.

[2018-09-30 21:17] h3ndrik commented on #8
My TM1829 works fine with the following timings in _chipset.h_:
`class TM1829Controller800Khz : public ClocklessController<DATA_PIN, NS(300), NS(500), NS(500), RGB_ORDER, 0, true, 500> {};`

But the logic levels have to be inverted. And at least for the esp8266 that seems not to be the case!? Isn't "FLIP" supposed to do that? Because i have to manually exchange hi() and lo() in _clockless_esp8266.

[2018-09-30 23:03] focalintent commented on #8
Flip isnt supported on all the platforms at the moment.  Also didn’t think anyone actually sold/used the TM1829 - glad to hear there’s some out there.

[2018-10-01 07:55] Adrianotiger commented on #646
I had it on different sketches using Arduino 1.8.6. Now, with Arduino 1.8.7 it seems to be solved. But has nothing to do with this library (because I had it on many different sketches using different libraries).

[2018-10-01 09:40] Adrianotiger opened #659 "led flickering (not ESP!)"
Hi,
I had a neopixel project and rewrote it for FastLED. With this library the leds are flickering.
I am using a simple Arduino mini (16MHz/5V) without any interrupts and ground is connected correctly. As said, it works perfectly with Neopixel library. It happens when I have multiple strips and the LED colors are on the minimum.
Here the code:

[code]
Maybe the timings is not like expected or the

[2018-10-01 11:13] markusrudolf commented on #8
A German supermarket chain ("Aldi") sold LED strips with a seperat controller and IR remote. The strips are using TM1829 in groups of three LEDs. I wanted to use an ESP8266 in place of the controller. I dig out the project then :-)

[2018-10-01 12:53] focalintent commented on #659
Try turning off dithering - it’s possible that is what you are seeing at such low brightness levels.

[2018-10-01 13:02] Adrianotiger commented on #659
Thank you.
With `FastLED.setDither(0)` it works.

I was reading this:
https://github.com/FastLED/FastLED/wiki/FastLED-Temporal-Dithering
And if I understand it correctly, it should be activated only if brightness is not 255.

[2018-10-02 03:57] jbud opened #660 "Color Correction for multiple LEDs on same data pin"
I have 2 strips wired together on the same data pin, both are TM1803 however the controllers seem to have a slight difference, the color order on the first strip is GBR, the second is RBG. Is there a way to correct this?

[2018-10-02 17:38] focalintent commented on #660
No, in this case you will have to do the R/G swapping by hand for the affected leds before calling show and then undo it afterwards.  Ordering in the library is done on a per pin basis and there’s no provision for switching it partway through (and isn’t going to be)

[2018-10-02 17:38] #660 closed

[2018-10-03 10:45] AlainGourves commented on #370
I just found the solution looking at the "RGBSet Reference" documentation (RTFM ! ), where there is an example with `fill_rainbow()`. The correct syntax would be :

[code]

[2018-10-03 14:57] vccabral commented on #640
@oscarmiike no luck so far. I put FastLED and used circuit python. I would love to use FastLED though. I will recompile my old efforts to see that final state if interested.

[2018-10-03 15:48] peto2006 commented on #583
I can confirm that esp8266s pins output 3.3V. With my WS2812B, it sometimes worked fine, but sometimes LED strip couldn't figure where byte stream starts and all colors got shifted by one. Buying Logic level converter from 3.3V to 5V solved this particular issue for me. (I still have other problems with esp8266 and WS2812B.)

[2018-10-05 00:45] Blink515 commented on #583
Can the first and last LEDs show the full spectrum of colors? Maybe one of
the individual red, green, or blue LEDs on the die are dead?

On Thu, Oct 4, 2018, 6:20 PM xcruell <notifications@github.com> wrote:

[2018-10-05 00:48] xcruell commented on #583
Yes they can.
I got them on white atm, no difference what so ever.
The main problem really is the "shifted start point".
The last LED is basically the first one showing the pattern.
But the first LED is the first wired up to the esp.
I dont have this problem with other libraries, only FastLED.

[2018-10-05 01:46] focalintent commented on #583
3.1.6 is fairly old at this point - you should grab the most recent version and see if that fixes the problem.  Also your pastebin has expired so I can’t see what the code is that you have.

[2018-10-05 02:09] xcruell commented on #583
Im using 3.2.1 and a different code by now.
https://pastebin.com/LD4j48CA

regards

[2018-10-05 06:31] elliottkember opened #661 "How do #define macros work?"
I'm trying to understand how the #define configuration macros work for FastLED. It looks as though a `#define` statement is not carried down into the libraries included in the sketch, because I'm unable to set an integer value for a macro in my own library.

I've set the `#define FASTLED_internal` macro here, but it's still printing out the pragma messages this configuration is supposed to suppres

[2018-10-06 05:57] elliottkember commented on #661
I figured this out! Seems `#define` macros are read in the .h files of a library, but not the .m files. If you want to do any conditional logic, the trick is to put your conditional logic in the headers of your library.

[2018-10-06 05:57] #661 closed

[2018-10-07 00:09] moderndevice opened #663 "Curious behavior with FastLED.show()"
In the code below, if I move FastLED.show() between functions, the functionality breaks.
I've spent a long time debugging but ultimately have no idea where to look next. Any ideas would be welcome as to where the issue could be.

Details - using a Atmega368 (Arduino Uno) type board with some Neopixel type LED strips.

[code]

[2018-10-07 19:28] moderndevice commented on #663
Thanks for that.

What happens is that the strip that normally does a series of moving stripes, displays a single color.
I haven’t really looked to see what color it might be. (colors come from a CRGB array)

Thanks much for the feedback

[2018-10-07 19:44] moderndevice commented on #663
I tried it but no joy.
Kind of mysterious eh?

Paul Badger

[2018-10-08 03:14] marmilicious commented on #663
@moderndevice  My suspicion is you're trying to write pixel data to a pixel that doesn't exist (ie outside of the range of NUM_LEDS) in the fillStripesFromPalette function.

[2018-10-08 23:35] demlak opened #664 "AnalogOutput brightness is 8bit, but seems to need 10bit"
Hi,
when i play with this example: https://github.com/FastLED/FastLED/blob/master/examples/AnalogOutput/AnalogOutput.ino
On my Wemos D1 Board, the brightness is not at the maximum.

I mesured the voltage o the output. it is at ~0,84V instead of 3,3v that it should have.

well.. 0,84v is 1/4 of 3,3v
and 256 is 1/4 of 1024

so it seems to me, that the wemos d1 has a 10bit pwm output, but fastled jus

[2018-10-10 00:31] lewismoten opened #665 "SmartMatrix.h: No such file or directory"
https://github.com/FastLED/FastLED/blob/38105c61de097066946f2df4d2bb2c36ddc78d7c/examples/SmartMatrix/SmartMatrix.ino#L1

[2018-10-10 00:51] focalintent commented on #665
You need to have the SmartMatrix library installed to use this example.

[2018-10-10 00:51] #665 closed

[2018-10-15 16:57] atuline opened #666 "Request for submod8"
Similar to the current addmod8(), but to allow for decrementing values with a modulus.

[2018-10-16 20:46] demlak commented on #582
I also want to use a PCA9685. Any progress on this?

[2018-10-16 23:23] Tim-AQ opened #668 "fill_rainbow() - Unexpected red pixel"
I'm using the builtin fill_rainbow function for generating a rainbow spectrum on an LED strip. The issue is, I get a random red pixel midway through the yellow region. I've tried it on 3 different Arduino nano's, and two different LED-strips. Here's the code:

[code]

Here pixel number 60 gets the rgb code 160, 0, 0. When it should have something like 160, 150, 0.

The strangest part of all is tha

[2018-10-17 01:44] kriegsman commented on #668
Great bug report, thank you I’ll take a look.

[2018-10-17 06:12] Tim-AQ commented on #668
Could be worth mentioning that its not always there. Depending on the value of _hue_ it sometimes there and sometimes not. So one pixel (which physical pixel changes, and follows the yellow region of the spectrum) is flickering between red and yellow when the variable _hue_ is slowly increased.

[2018-10-18 17:10] wyldbill commented on #579
@focalintent Any Updates?

[2018-10-18 17:28] Bedmonds91 commented on #626
Hello, I have the exact same issue as tavrinnn while using WiFi and ESPAsyncWebServer. I updated the FastLED but I still get the same Guru Meditation Error: Core 0 panic'ed (Interrupt wdt timeout on CPU0) message. The code is essentially the same with a FastLEDshowESP32 function call to run FastLEDshow() on Core 0. I don't have any delays around FastLEDshowESP32 in the main loop. Is there somethin

[2018-10-18 18:02] samguyer commented on #626
@Bedmonds91 I'm happy to take a look. One simple thing you can test is just comment out the FastLED.show() in the show task (the function running on the other core).

[2018-10-18 18:13] Bedmonds91 commented on #626
Ok, it works flawlessly without FastLED.show() and I get the panic error when I use the show function on either core. The only difference is when the show is on Core 0, there is something causing a 200ms delay with the wifi event handler. I'll also add that I'm using an app with a scroller to send values over softAP instantaneously. When sending the continuous values with the scroller, the program

[2018-10-18 18:16] Bedmonds91 commented on #626
The Core 0 task function is in utils.h and the WiFi event handler is in WifiStuff.h.

[2018-10-18 18:21] samguyer commented on #626
@Bedmonds91 Just so I understand the architecture, what code is running on each core?

[2018-10-18 18:37] Bedmonds91 commented on #626
Sorry, with the show function on core 0, there is just the crash at the start of the program then after a few seconds just a 200ms delay. I'm measuring this by setting a wifievent flag and displaying heap size, the changing value, and the time delay (which is exactly 200ms). Below is the register dump I got at the beginning of the program.

Guru Meditation Error: Core  0 panic'ed (Interrupt wdt ti

[2018-10-18 19:01] Bedmonds91 commented on #626
Ok so I just realized the 200ms delay is coming from the ulTaskNotifyTake(pdTRUE, 200). So FastLED.show is taking longer than 200ms to complete. After changing it to ulTaskNotifyTake(pdTRUE, portMAX_DELAY) the program now crashes if I send the server too many values at once. I also have been experimenting with FastLED.delay() in core 0 and it doesn't help.

[2018-10-18 19:12] Bedmonds91 commented on #626
So the rest of the program works fine if I set the blocking time to something short like 40 -> ulTaskNotifyTake(pdTRUE, 40). So something with the WiFi server is making the FastLED.show get stuck in a loop somewhere.

[2018-10-18 21:18] sylvix opened #669 "single WS2812 need to skip indexes to get address right"
Hi!

RGB modules are:
3 x FC-100 WS2812 (presumably) single board LEDs. They look like this:
![FC-100](https://img.dxcdn.com/productimages/sku_379977_1.jpg)

Also, it's searchable by "FC-100 RGB" on Google. In one place there's info that it's WS2811, other place it's WS2812.

Main setup:
Arduino Uno
Power comes from Arduino 5V and GND pins
Data wire is connected to pin 3
There is a 470 uF capacito

[2018-10-18 22:29] Bedmonds91 commented on #626
Can confirm that FastLED.show freezes after about a minute while connected to my phone when acting as a soft AP.

[2018-10-19 02:09] samguyer commented on #626
OK, so here's another thing you can try: in FastLEDshowESP32() don't wait for the notification at all. This will cause FastLED.show() to run in parallel with the main thread. Since you're not waiting for it to finish, you just need to be careful not to call it again too soon.

[2018-10-19 06:31] X-WL commented on #626
Hello! I experience this problem when using Wifi and ESPAsyncWebServer. However, this simply leads to a hang without a kernel panic. Previously, when I did not use ESPAsyncWebServer, the Execution Code on the other core caused a hang. but it was possible to reduce them simply by calling FastLED.show () from the main loop.

[2018-10-19 12:41] Bedmonds91 commented on #626
Ok so the problem still occurs when I take out the notification. That just allows the other loop to run unimpeded. I tried multiple combinations of delay and FastLED.delay in both the core 1 and core 0. Should I maybe try putting the show function in the main loop with a yield()?

[2018-10-19 15:36] janfiess opened #670 "Serial.println() kills Palette Knife on ESP8266"
The palette knife for FastLED actually works as expected with a WS2812B strip, but as soon as I add a Serial.println() to the code, the strip won´t change the color anymore. It just keeps the previous color.
Is there a workaround?

[code]

[2018-10-19 15:41] samguyer commented on #626
Give that a try. I looked over the ESPAyncWebServer code, and I did notice a couple of things about the underlying AsyncTCP library. For one, it runs on Core 1, which is a little strange because the ESP32 IDF core uses Core 1 as the default for the main loop. So, if you're using AsyncTCP through the Arduino interface, you're not actually using the second core (Core 0) at all. But that doesn't expl

[2018-10-19 16:14] Bedmonds91 commented on #626
Ok so changing Core 0 privilege to 3 didn't help, but it works much better when I have show() at the end of the main loop and surrounded by yield(). When using the scroller in the app, I found that the wdt will panic and reset the chip if I send the values too fast which can sometimes cause the wifi to switch to a different connection. Is there a way to disable the watchdog timer? I tried ESP.wdtF

[2018-10-19 16:35] Bedmonds91 commented on #626
I did some more testing and it will panic even when I send values at a slower rate. And as long as my phone doesn't automatically switch to a different AP the program continues to receive commands like normal. Another thing is that I haven't actually tested to see if the show function is updating the actual pixels but I can check tonight when I'm home. I'm currently testing on an ESP32 dev board a

[2018-10-19 17:20] kriegsman commented on #668
Something funny is going on here.

Sometimes I get 'smooth' color outputs, and sometimes I'm seeing a glitch around hue=60.  Making small ("unrelated") changes to the sketch change the results.  This looks like a compiler-level issue, which is weird already.  (Maybe it's possibly related to ambiguities in the treatment of inline asm? Maybe? Investigating...)

Here's a segment out output showing R

[2018-10-19 17:30] samguyer commented on #626
That is really weird. How hard would it be for me to replicate your setup myself?
Also: do you have the ESP32 Backtrace decoder, so you can see where the panic happens?

[2018-10-19 17:59] Bedmonds91 commented on #626
You could modify my code to include a web browser similar to the WiFiAccessPoint sketch from ESP core WiFi library examples. Then just continuously press the command buttons until it crashes. I'll see if I can make those modifications myself and send you the updated sketch. I'll also look into the Backtrace encoder and see what I get. I'm currently using thunkable app to push the url commands to t

[2018-10-19 20:02] kriegsman commented on #668
Just rendering the data to show the glitch.  It's not a math error per se, and the fact that re-arranging the source code has an effect on it is indicative of a certain kind of problem.

<img width="316" alt="screen shot 2018-10-19 at 12 59 58 pm-colored" src="https://user-images.githubusercontent.com/1334634/47241037-3e737f80-d3b8-11e8-9387-1d3439ee727b.png">

[2018-10-19 22:44] kriegsman commented on #668
Just for my own reference, here's 'my' version of the code which shows a funky value at pixel 60 (aka hue = 60) repeatably, at least on an Leonardo clone, under avr-gcc 5.4.0 (Arduino 1.8.6 hourly build 2018/07/20... which is questionable, but still)

`#include <FastLED.h>

#define DATA_PIN 13
#define NUM_LEDS 114
CRGB leds[NUM_LEDS];

uint8_t hue = 0;

void setup() {
  Serial.begin(115200);
  Fas

[2018-10-19 22:51] kriegsman commented on #668
What version of Arduino are you running, @Tim-AQ, and on what platform?

[2018-10-19 23:50] Bedmonds91 commented on #626
So everything works pretty well right now as long as I limit the server requests from the app. Is there a way to block the FastLED.show() function or maybe the AsyncWebServer handler ?

[2018-10-22 00:59] fish-face opened #671 "Higher colour-depth emulation through temporal dithering"
Certain kinds of animations can run into issues with a lack of colour-depth, especially with dimmer colours - switching an LED from (0, 0, 0) to (1, 1, 1) to (2, 2, 2) is very visible at each step if it's not done quickly. This could be addressed in some situations by extending the temporal dithering code and so this would be a cool enhancement.

[2018-10-22 06:39] Tim-AQ commented on #668
Im using version Arduino version 1.8.7 , and the platform is Manjaro Linux.

When the glitch occurs for me, this is the output i get:
hue R G B
58 160 144 0
59 160 147 0
60 160 0 0
61 160 152 0
62 160 155 0

[2018-10-25 02:14] focalintent commented on #671
Each extra bit of dynamic range requires, roughly, doubling the update rate - given that WS2811 leds are capped at an update rate of 400hz, the existing dithering code is already pushing the limits of what we can get out of it.  The current APA102's are only running at about a 2Khz refresh rate max (yes - early APA102 chips had a 19.2khz refresh rate, but I've heard that APA has changed their manu

[2018-10-25 02:51] focalintent commented on #670
try putting the println in an EVERY_N_MILLISECONDS -- e.g.

[code]

It's also possible that the combination of calling FastLED.show(), FastLED.delay(25) and outputting that bit of serial is tripping things up with the watchdog, but without seeing the output of your crash/serial console it's hard to tell for sure.

(Also - generally speaking troubleshooting questions like this get answered more qui

[2018-10-25 02:52] focalintent commented on #579
When there are updates there will be posts both here and on g+

[2018-10-25 02:56] focalintent commented on #582
Again - you can use FastLED to populate your CRGB array, and then write out your own RGB values to the PCA9685 using one of the PCA9685 libraries out there.  I'm unlikely to add support for the PCA9685 into FastLED until after the RGBW/RGB16 rewrite is finished (in part because the PCA9685 would want 12-bit color data).

[2018-10-25 04:50] johnyradio commented on #582
Thanks so much for all your help and hard work! Thx for FastLED!

On Wed, Oct 24, 2018, 7:57 PM Daniel Garcia <notifications@github.com>
wrote:

[2018-10-25 12:16] fish-face commented on #671
I'm currently stuck with WS2812s but not that many of them, so can probably squeeze at least 4 updates per frame out and plan to see what it looks like after getting everything else working (I've reverted to a different effect for my project which doesn't expose the issue). I might be able to get more out but I'm not sure exactly how long `FastLED.show()` is taking - `micros()` reports 1.8ms most

[2018-10-25 12:41] focalintent commented on #671
The reason for the varying times is likely because you can’t update ws2812’s more than 400 times per second (if you do they start behaving oddly/badly) - so FastLED has a rate limiter for ws2812’s - to ensure that it has been 2.5ms since the last time show was called.

Also, the teensy allows interrupts to run while writing out led data - which may also account for some of the timing variability y

[2018-10-25 13:40] YiZhiQi opened #672 "Fails to compile ATtiny841"
Trying to compile Blink sketch from FastLED/Examples. Compiling fails.

Testing conditions:
Arduino 1.8.7 (also tried 1.8.5 on another Windows PC)
ATtinyCore 1.2.0 (841@8Mhz internal BOD and LTO disabled)

The only changes in the sketch:
`#define DATA_PIN 3` -----> `#define DATA_PIN 8`
`#define CLOCK_PIN 13` -----> `#define CLOCK_PIN 9`

`FastLED.addLeds<NEOPIXEL, DATA_PIN>(leds, NUM_LEDS);`
subst

[2018-10-25 15:46] focalintent commented on #672
There’s a bunch of avr asm code that isn’t gated by that macro - only things that use the mul opcode for the most part.  I have a hard time believing that the attiny841 got rid of the or opcode, so something else may be going on.  I won’t be able to look at this until I’m home from work tonight (don’t keep FastLED stuff on the dayjob computers :)

[2018-10-26 08:05] YiZhiQi commented on #672
@focalintent Thank you. Very much appreciate any help.
I'm quite new to coding, so even if I understand what is going on, with arduino limited debugging options I can't find the exact place where these calls occur

[2018-10-26 08:40] #672 closed

[2018-10-26 08:41] focalintent commented on #672
Ok - found the problem - it turns out that LIB8_ATTINY wasn't getting defined for the ATtiny841/441.  I just checked in a fix for that - you can grab it right out of GitHub for now until I push a new release.

[2018-10-31 00:04] MorganBarbier opened #674 "APA102 and fill_rainbow()"
Hi everybody,

My first experience with electronic stuff and leds strip! (5m of 30leds/m => 150 leds) ( [https://fr.aliexpress.com/item/1m-2m-4m-5m-5V-APA102-digital-smart-rgb-led-pixel-strip-light-30-32-60/32794298843.html?spm=a2g0s.9042311.0.0.40696c37u2EY2e](url) [https://fr.aliexpress.com/item/LAFVIN-De-Base-Starter-Kit-pour-Arduino-UNO-MEGA-2560-avec-Tutoriel/32869624633.html?spm=a2g0s.904231

[2018-10-31 00:44] peterloves opened #675 "millis() is faster than real time with arduino and ws2812"
are there any solution for that millis() = real time, in arduino uno?

[2018-10-31 01:01] focalintent commented on #675
No - the problem is writing out ws2811 data requires disabling interrupts - advancing the clock requires an interrupt firing.  FastLED attempts to adjust the clock after it has finished writing the data out, but it is approximate.  If you need accurate time you need to either switch to something like apa102 that will not disable interrupts, switch to one of the arm or esp based platforms that don’

[2018-10-31 01:01] #675 closed

[2018-11-01 19:13] marmilicious commented on #674
What if you move the fill_rainbow and Fast.LED.show lines out of setup and into the main loop?

Also, how are you powering your pixels?

Probably not related, but did you run the FastLED RGBCalibrate example here:
https://github.com/FastLED/FastLED/tree/master/examples/RGBCalibrate

[2018-11-03 00:14] brickstuff commented on #536
Hi, did this ever get fixed? I have an ATTiny88 as well and can’t get it to work with FastLED. I’ve looked at the fastpin-avr.h file and see all the chip defs but don’t know enough about the structure of how this is written to add a new section for the 88. It’s a nice chip, with hardware SPI and I2C which is almost unheard of with Tinys, so having FastLED support would be amazing.

[2018-11-03 00:17] moosepr commented on #536
I tried the adafruit library instead but that wouldn't work either! In the end I moved to an atmega 328 and that solved all my issues

[2018-11-03 17:34] brickstuff commented on #536
Yeah, that's not an option in my case-- pricing for the 328 is too high for my application.  I'll keep plugging away with the 88.

[2018-11-03 17:39] moosepr commented on #536
I got it working on an 85, but software i2c was a little patchy, and I'm assuming that you are in need of the extra pins

[2018-11-03 17:44] brickstuff commented on #536
Correct, not just the pins but hardware SPI support.  The 88 is a really neat little chip in that way.

[2018-11-03 17:49] moosepr commented on #536
Yeah it is a great chip. I'm not sure if it's the lower clock speed, or some kind of interrupt issue

[2018-11-03 18:06] brickstuff commented on #536
I'm going to see if I can add pin definitions on my own.  Need to make a large pot of coffee and spend a few hours with datasheets, but it has to be possible.

[2018-11-03 18:06] moosepr commented on #536
Good luck!

[2018-11-04 13:49] mitchsmith512 commented on #8
I have 3 sets of GE xmas lights that do color-changing/etc per bulb.  The onboard driver/controller is the TM1829.  The original string controllers don't offer much in the way of patterns, so I was looking to program them myself from arduino.

[2018-11-05 07:57] lanternfish commented on #669
My understanding of these modules are the packets are sequential i.e. packet 1, packet 2 ... so the chips receive the data, check for end of data and if not end of data then pass on packet and receive next packet. Thus with three modules they will always receive the last n packets. If you send 5 packets but have only three modules then they will use packets 3,4,5. Correct?
A thought: breadboards (

[2018-11-06 05:51] sylvix commented on #669
Nope, this is not what happens. It looks like one module "eats" two packets at once. My code demonstrates that - first module lights up on modifying 0-th index of pixel array, second one lights up on modifying 2-nd index, third one - 4-th index, fourth - 6-th index, etc.
They are connected very tightly, one after another, I tried resoldering, another wires, so I think it's not a problem with bread

[2018-11-06 23:43] lanternfish commented on #669
Timing issue? WS2811 and WS2812 have slightly different timing requirements and the WS2811 has a high speed mode which halves high and low timings (but not the reset).
Have y0u tried setting FastLED to WS2811?
`FastLED.addLeds<WS2811, DATA_PIN, RGB>(leds, NUM_LEDS);`

[2018-11-07 12:33] edjeed opened #676 "ESP32 IRAM interrupthandler"
The function:
Interrupthander for the ESP32 (using RMT) is placed in IRAM, but calls functions that are not in IRAM.
The result of this is that sometimes errors occur, and the leds are not being updated anymore.

The documentation states:
[code]

[2018-11-07 15:07] kriegsman commented on #676
Thanks for opening this ticket.  What are your thoughts, @samguyer ?

[2018-11-07 17:54] focalintent commented on #669
I noticed that the leds are 6-pin, WS2812's are only 4 pin - I wonder if what happened is that they put WS2813's on there, but wired up DIN to the backup input pin (the way the WS2813 works is if it gets data on its main DIN pin, it displays the first 24-bits of data that it gets then passes the rest along, if it doesn't get data on that pin, but it does get data on the backup pin, it will skip 24

[2018-11-12 03:32] helenchg opened #677 "attiny44 not enough memory"
Is there another way of looping through the dotstar LEDS without using the CRGB leds[NUM_LEDS];  array?
I am trying to control 72 APA102 LEDs, but when I tried to upload the code to the attiny44 using the Arduino IDE, it says low memory. I lowered the NUM_LEDS to 32 and it worked but I would like to control the entire strip.

[2018-11-12 21:04] fabiuz7 commented on #436
Any news about this issue? I'm experiencing the same bug...

[2018-11-12 22:55] kriegsman commented on #436
Thanks for the reminder. I’ll try to take a look.

[2018-11-13 08:52] fabiuz7 commented on #436
Thank, I was wondering if there are some "weird magics" about this conversion or it is an implementation of formulas describe [here](https://www.rapidtables.com/convert/color/rgb-to-hsv.html) (first google result typing "rgb to hsv").

Maybe I could help this issue

[2018-11-15 15:23] andrewringler opened #679 "any luck controlling Apa102 SPI with the BBC micro:bit?"
Has anyone had any luck controlling an APA102 strip over hardware SPI with the BBC micro:bit? I can control it fine from a micro:bit using hardware SPI pins 13 and 15 using the <https://github.com/adafruit/Adafruit_DotStar> library and the <https://github.com/sandeepmistry/arduino-nRF5> board and the Arduino IDE, but i've had no luck getting the FastLED library to work. I am using an Adafruit Dots

[2018-11-17 23:24] rosenbjerg commented on #646
I still experience the linking problem on v. 1.8.7 (Windows Store 1.8.15.0)

[2018-11-18 17:33] focalintent commented on #646
Ultimately, this is a bug in the compiler, it sounds like.

[2018-11-21 15:59] AzureEmpyrean opened #680 "Any updates on Feather M4 support?"
I am working on a project with the Feather M4 and I am unable to complete the project until FastLED is able to be ran on the Feather M4. I would go with another micro controller but the Feather M4 is my best option for running this project right now.

[2018-11-21 20:13] #640 closed

[2018-11-21 20:14] joaopmrod opened #681 "TM1904 compability"
How can I use FastLED with TM1904 chips? It's similar to WS2812 but with inverted HIGH and LOW. Here is the datasheet: https://www.dropbox.com/s/vmanx0g9pn4p5bs/TM1914A_V1.1_EN.pdf?dl=0

I hope you can help

[2018-11-21 20:14] focalintent commented on #680
Someone submitted pin/port definitions for the itsy bitsy, but no one has yet for the feather m4.  I have one showing up in the next week or two and can poke at it once I have the hardware.  But otherwise, this is a dup of #639

[2018-11-21 20:14] #680 closed

[2018-11-21 20:18] focalintent commented on #681
Right now there isn't a good way to do it.  I experimented a few years ago with making it easier to invert the sense of the output line for the clockless chips, but it didn't work well so I mostly removed it.  Since I'm overhauling/re-writing a lot of this code for the RGBW support, I can see about doing the inversion again, but for the most part, I'm tempted to suggest finding a hardware solution

[2018-11-21 22:01] focalintent commented on #681
You can try changing the code - what you specifically want to change depends on what hardware platform you're using - look under the platforms folder in the FastLED library - the controller in question is clockless controller - I found just switching hi and lo for another inverted chipset I was working on ended up not working out quite so well (and in fact blew out a controller testing it because

[2018-11-21 22:02] focalintent commented on #677
Not with FastLED, no - its controllers are frame, not stream, based.

[2018-11-22 04:23] AleXDev25 opened #682 "How to build project in ESP-IDF with FastLED lib?"
Hi!
A make test project with this lib for ESP32.
Code:
[code]

Add lib in 'components' folder.
Add CPPFLAGS in component.mk (CPPFLAGS := -DESP32)

I get errors when compiling like this:
[code]

How to fix?
Please help
Maybe add other flags?
I watched as the project was building in Arduino IDE, but I figured it out to the end.

[2018-11-22 05:03] focalintent commented on #682
Right now FastLED wants to build with the Arduino environment/libraries - I haven’t done any work for using it directly under something like freertos.  Asking on the g+ group might put you in touch with anyone who may have done this.

[2018-11-22 05:31] #682 closed

[2018-11-24 20:36] LongLiveCHIEF opened #683 "Can Parallel Output code really cause LED's to catch on fire?"
I feel really dumb asking this, but fortunately I have little shame about such things.

On the [Parallel Output](https://github.com/FastLED/FastLED/wiki/Parallel-Output) Wiki, the top has a note:

I'm assuming this is actually a joke?

I'm somewhat new to electrical engineering, and sometimes it's hard to distinguish between sarcasm and sincerity when I'm missing an inside joke in this field.  I s

[2018-11-24 20:41] kriegsman commented on #683
It is, in fact, a joke.
Sorry to have caused concern, and we can definitely add a “(just kidding— your LEDs are safe!)” message or something similar.

[2018-11-25 16:10] LongLiveCHIEF commented on #683
lol, it's nothing to be sorry for. I assumed correctly, so I don't feel like an idiot.

I _did_ spend some time digging through code just to make sure there wasn't some inherent power limitation functions that parallel output capable controllers didn't use for some reason.  I'm new to cpp, so the side effect there is that I'm now far more familiar with how this library can be used, and I had to le

[2018-11-25 22:38] shanosburgess opened #684 "support for GS1903"
Hi I received some strips from China with GS1903 IC would you be able to add support or advise if there is already a compatible driver in fastled?

Thanks Shane

[2018-11-27 18:21] themindfactory commented on #507
I am having issues with FastLED 3.2.1, I have used
#define FASTLED_ALLOW_INTERRUPTS 0 before all occurrences of #include <FastLED.h> within my project on Arduino IDE 1.8.5 and I get random color twinkles on the WS2812 leds when WIFI networking is accessed.

I have multiple files in the project so <FastLED.h> occurs a few times in both .cpp and .h files, I added the #FASTLED_ALLOW_INTERRUPTS 0 befo

[2018-11-27 20:36] cranphin commented on #507
Hmm, actually, I assume you use Arduino, and Arduino for ESP32 starts the loop on core 1, so not on the system/wifi one (0). So probably not that :)

[2018-11-27 20:49] cranphin commented on #507
Actually, looking at it initialization is done the first time leds are set to a color, so there might still be a small chance you do that from somewhere which is called on core 0, for example a network callback, maybe?
you might want to find the first place where you set the leds, and add  Serial.println(xPortGetCoreID());
 to it to double check which core it's on :)

[2018-11-28 06:11] themindfactory commented on #507
I am not sure what first place I set the leds is... is this the FastLED.addLeds<CHIPSET, LED_PIN, COLOR_ORDER>(leds, nLEDS).setCorrection(TypicalPixelString); type statement... I added the println just under that and its core 1, so same as the loop()

[2018-11-28 06:18] themindfactory commented on #507
I am doing this in the Arduino IDE, I have 2 tasks setup for a web server, and websockets server, they were both in core 1, I moved them to core 0 and still flickers... just a thought.... they are setup with the xTaskCreatePinnedToCore( ) call

[2018-11-28 06:20] themindfactory commented on #507
and after the FastLED.addLeds<CHIPSET, LED_PIN, COLOR_ORDER>(leds, nLEDS).setCorrection(TypicalPixelString); I do the first FastLED.show(); so its also core 1

[2018-11-28 06:55] cranphin commented on #507
Ahwell, that doesn't seem to be the problem in your case then, sorry, no other ideas :)

[2018-11-28 17:05] themindfactory commented on #507
Thanks! I will keep looking for issue today! and report for others...

[2018-11-29 03:47] maxnz commented on #646
In my testing, I found that 1.8.5 seems to work just fine but 1.8.6, 1.8.7 and Microsoft Store 1.8.7 throw seg faults. Exactly the same error as @NelloCris in all three as far as I can tell. My friend also ran into this same problem on MS 1.8.7 too.

[2018-11-29 11:12] dzuljo opened #685 "WS2812B Show only one color"
Hi
I work with esp8266-fastled-webserver
With APA102 everything is good.
With WS2812B i have problem,only one color is showing.
example:
RGB green is working
GRB red is working
GBR blue is working
WS2812B pass the test but i have problem with sketch.
Microcontroler is Nodemcu
Some sugestion ?

Thanks

[2018-11-30 02:04] pcaddict commented on #595
You can find my fork of FastLED [here](https://github.com/pcaddict/FastLED). This is by no means a working solution at this point. Right now I have only begun working on SPI based LEDs as that is what I have to test with. Colors and strip length are pretty much ignored. The FirstLight example will walk a white-ish color down the strip but all of the pixels that are supposed to be dark are red or g

[2018-12-01 15:38] pcaddict commented on #476
I have made some progress on this [here](https://github.com/pcaddict/FastLED). So far SPI based chipsets should work but I only have APA102s to test with.

[2018-12-02 15:21] Hokyjack opened #686 "ESP32 + Hardware SPI"
Hello, is there any progress on supporting Hardware SPI on ESP32 at least for APA102 strips?
The bitbanging works without any problem, but it is unfortunatelly slow for POV effects.
I tried the NeoPixelBus with HW SPI and it works flawlessly. However I really love FastLED's API and would like to stick with this.
Can this be implemented in the near future? I would like to help, unfortunately, this

[2018-12-02 16:59] CyborgShadow opened #687 "FastLED library's delay function isn't reliable"
https://github.com/FastLED/FastLED/blob/dcbf39933f51a2a0e4dfa0a2b3af4f50040df5c9/wiring.cpp#L85-L95

Using the FastLED library and various examples on an arduino ESP32 with WS2811s, I found inconsistencies.

Given the below scenario:
[code]

and 2 50 LED strings plugged in, all lights on the string would receive signals, even though only 76 should.

Digging further into the issue with my oscillosc

[2018-12-02 17:48] focalintent commented on #687
The purpose of FastLED.delay is to continue driving dithering while delaying - the fact that you were seeing all 100 leds light up instead of just 76 likely means that @samguyer ‘s rmt implementation may not be enforcing a minimum 50us gap between frames.  Sam?

[2018-12-02 23:31] CyborgShadow opened #688 "Sample defines brightness then ignores value"
https://github.com/FastLED/FastLED/blob/8f2e86434b2bfa4d6178622ca3745a68303f8b00/examples/ColorPalette/ColorPalette.ino#L5

In this same, brightness is defined on line 5.

Brightness is then ignored on line 63 (https://github.com/FastLED/FastLED/blob/8f2e86434b2bfa4d6178622ca3745a68303f8b00/examples/ColorPalette/ColorPalette.ino#L63)

All values should use the defined brightness.

[2018-12-02 23:34] focalintent commented on #687
FastLED.delay behaves the same way whether dithering is enabled or not.

I suspect that the gapping that you are seeing has to do with something around the RMT timing - waiting for @samguyer to chime in (since he's the one who did that code) on whether or not he's making sure there's enough of a time gap between two frames written out back to back to allow the WS2813's time to reset (and, for that

[2018-12-02 23:58] focalintent commented on #688
Not in this case - no - the BRIGHTNESS define on line 5 is used set the global brightness on line 41.  The brightness on line 63 is only used as a passed in variable to ColorFromPalette - which doesn't have anything to do with the global brightness, but rather is a scaling value for the color that one is looking up in a palette.

[2018-12-02 23:58] #688 closed

[2018-12-03 15:04] StefanoMancuso opened #689 "FastLED + muxShield"
Hello! I'm trying to use multiple led strips with multiple sensors, so I got the Mux Shield II with 3 lines of 16 pin I/O (48 I/O total).
Is it possible to set the data pins as some pins of the Shield? Probably I have to change something inside the library, but I don't know where.
The muxShield library has a method for get an output that is:

`muxShield.digitalWriteMS(line,pin,value)`

Could someo

[2018-12-03 19:00] samguyer commented on #687
Let me take a look. At one point, I did have a timer that throttled calls to show() to prevent signals from being too close together.

[2018-12-04 14:34] AzureEmpyrean commented on #680
Hey focal

Hey I just realized what you said. I found someone that gave me the pin/port definitions for the feather m4 if you havent gotten your feather m4 yet

[2018-12-05 23:34] plankatron opened #690 "cant compile fastled for esp32"
[code]

[2018-12-05 23:36] focalintent commented on #690
@samguyer - any thoughts on what’s missing here?

[2018-12-06 00:18] samguyer commented on #690
Honestly, I'm not going to be able to look at this issue right now, but I should have more time in the next week or so.

[2018-12-06 03:21] adidahiya commented on #414
Thanks @WyattJordan and @rogertheriault.

For the MKR WIFI 1010, the code change is:

[code]

[2018-12-06 15:36] reyemxela commented on #668
I was just coming to the issues section to submit one of my own when I found this thread.
Running Arduino 1.8.7 on Windows 10.

I was playing around with a color cycle animation, and trying to use CHSV(i, 200, 255) for a more desaturated look. Because of that, I'm getting the hiccup in a slightly different spot on the hue wheel, but still the same problem.

hue-r---g---b
47	146	107	12
48	146	110	1

[2018-12-06 19:50] kriegsman commented on #668
Thank you for the addition data point.  I am definitely seeing some weird
stuff going on — and it’s not “just” a quirk in the arithmetic.  Something
else is up, I think.  I’m going to keep trying to isolate it.

On Thu, Dec 6, 2018 at 10:37 AM reyemxela <notifications@github.com> wrote:

[2018-12-07 08:26] jeremyste opened #691 "CHSV compare (== and !=) converts to CRGB before comparision"
(I'm on version 3.002.000 so forgive me if this has been addressed in a later version)

I noticed that if I use a compare on two HSV values (== or !=), FastLED converts them to CRGB at runtime. For example, this will always print true:

[code]
I was expecting a comparison based on the values in memory. Also, doesn't a conversion cost more cycles than a direct comparison?

This discrepancy caused s

[2018-12-07 21:09] kriegsman commented on #691
Thanks for spotting that -- definitely just an oversight and we should definitely add it.

[2018-12-07 21:41] marmilicious commented on #691
But CHSV(0,0,0) and CHSV(128,0,0) would both display black, so in a way it _is_ true, right?  I guess that's sort of an edge case though.

[2018-12-08 17:06] zzxjl1 opened #692 "Changing LEDS freezes I2C connection"
I‘m currently using esp8266 as a master and arduino nano is a slave, i seems to be fine when i leave it idle, but when there is some light effects going on on my arduino nano the connection freezes and never recover.
NOTE: It won’t have the same issue on my esp8266，is this a performance problem？

[2018-12-09 07:47] jeremyste commented on #691
@marmilicious Haha, that's why I wasn't sure if it was intended behavior to convert to RGB when comparing because technically it is true. I actually discovered this with values that map to not-black (`CHSV(32, 120, 221)` and `CHSV(33, 119, 220)`), but I picked an obvious and reproducible case.

Out of curiosity, I wrote some really quick and dirty code to see how many collisions there are for a se

[2018-12-09 08:00] sandman15951 opened #693 "Support ItsyBitsy M4"
I am trying to use FastLED with an ItsyBitsy M4.  I made the edits to the 3 .h files discussed in #662 (in fact I replaced the entire library to be safe).  The edits fixed the errors I was getting, however I am still getting some new errors.  I get them even on the blink sketch.

What causes these errors is the FastLED.addLeds function

[code]
`

[2018-12-09 08:13] marmilicious commented on #691
@jeremyste  Nice check!

[2018-12-09 14:49] marcpabst opened #694 "State of RGBW support"
Hey guys,

first, I'd like to say how grateful I am for this amazing library. I've been playing with it since 2016 and now I'm starting my first 'real' project. I'm going to use SK6812 LEDs which are available with an additional white channel.  I know that FastLED doesn't support RGBW at the moment. However, I'm aware that @focalintent is planning to do a full rewrite of FastLED that would also su

[2018-12-09 22:00] Fxlr8 commented on #590
@janWeinands, have you solved this problem?

[2018-12-10 16:37] AzureEmpyrean commented on #693
I have also gotten a similar issue when compiling for the ItsyBitsy M4

[2018-12-11 04:59] bikemike opened #696 "DEFINE_GRADIENT_PALETTE is not memory aligned on ESP8266"
DEFINE_GRADIENT_PALETTE isn't memory aligned on ESP8266 and causes a crash when assigning to a CRGBPalette16.

The DEFINE_GRADIENT_PALETTE macro uses FL_ALIGN_PROGMEM, which is only defined when FASTLED_ARM is defined.

[2018-12-12 09:38] RobinB commented on #686
I'm in the same situation, hoping for Hardware SPI with the ESP32, ideally selectable between the different SPI ports (HSPI and VSPI).

@Hokyjack: Could you post your Neopixel code for the hardware spi? Which pins are you using? The library example won't work for me...

[2018-12-12 12:13] Hokyjack commented on #686
@RobinB I used the official example with this method:
`NeoPixelBus<DotStarBgrFeature, DotStarSpiMethod> strip(128);`

The only change I did is in DotStarSpiMethod, the Initialize(), I hardcoded the pins I want to use to SPI.begin(SCK, MISO, MOSI, SS). - MISO/SS can be random pins, they are not used. See bellow.
[code]

[2018-12-12 12:42] kriegsman opened #697 "Power management doesn't take color/temp correction into account"
The power limiting functions don't take the color correction and color temperature adjustments into account.  So, worst case, if you set color correction to 255,0,0, e.g. green and blue are 100% off no matter what, and you try to show a strip of pixels that are all green, plus one red one, the power calculation assumes that the green pixels are all lit and drawing power, and thus (may) dim down th

[2018-12-12 21:35] chrisparton1991 commented on #697
Adding a stray thought of my own, could the behaviour you describe be enabled by a macro so you can opt in? Comes at the cost of more complexity and another macro for people to know about though.

[2018-12-16 20:13] cyberponk opened #699 "First LED not working (WS2813)"
I have hooked up a WS2813 strip and the first LED of the strip never comes on (not a faulty LED problem).

I think it might be a problem with the leds[0] being skipped in the loop? I am looking at the code but having a hard time figuring out how it works.

EDIT: I figured that I have to connect both data cables (not just one of them) to the arduino output pin. That fixed it.  I´ll leave this here

[2018-12-16 20:17] #699 closed

[2018-12-17 00:42] agootday opened #700 "Error when increasing the number of LEDs"
Good day. For a long time I can not understand what the problem is.
I get the LED number and color from a com-port, after which I draw a tape. When using 30 LEDs - everything works fine. But if I install 60 LEDs, then everything stops working as it should. Colors start to be displayed incorrectly and with a delay, provided that the same data for the first 19 LEDs will be obtained through the com p

[2018-12-17 02:02] agootday commented on #700
[This](https://github.com/FastLED/FastLED/wiki/Interrupt-problems) solved my problem, sorry for the trouble.

[2018-12-17 12:40] szfeco commented on #684
any progress? I'm facing the same issue...

[2018-12-17 13:00] shanosburgess commented on #684
Hi mate,

I took some advise from the guy that makes the adrilight software he suggested selecting ws2812b as the chipset, thankfully this has worked for me and I am now able to use the lights.

Let me know how you get on, if I can be of any help I will do what I can.

Cheers and merry Christmas

Shane

[2018-12-18 05:17] KPhillipps commented on #690
Any news on this issue, I'm hitting the same thing on an ESP32 Feather.

[2018-12-18 05:40] KPhillipps commented on #690
I tried to narrow down the issue.  including the library does not result in the error but calling addLeds does.  here is the full program:

#include <FastLED.h>
CRGB leds[1];
#define DATA_PIN 3
#define NUM_LEDS 1

void setup() {
   FastLED.addLeds<WS2812, DATA_PIN, RGB>(leds, 1);
}

void loop() {
}

here is the full error

![image](https://user-images.githubusercontent.com/6036988/50134344-b214fa0

[2018-12-18 15:38] focalintent commented on #690
What’s weird is I have been building go/using esp32’s all week and haven’t seen this issue.

[2018-12-20 05:27] Spajker7 opened #702 "LED "skipping""
Hi, I am using an ESP8266 with a 120 led WS2812B strip.

I made a simple sketch that looks like this
[code]

My problem is that as the led "moves" it'll randomly skip ( like the index is bad ) and then go back to the correct led.
For example, lets say that LED 5 blinks, The next LED to blink should be LED 6, but sometimes, it'll skip to a random LED on the strip, lets say LED 80, before going back

[2018-12-20 13:13] szfeco commented on #684
confirmed. WS2812B works. I tried before not sure was only wiring problem but now works.
Any experience with ws2815 or gs8208 ? i'm planning to order 12V strips invdividually addressable (have some good 12V 400-1200W server PSU-s). Current one 3 leds per address...

[2018-12-20 21:36] putzlicht opened #703 "unused variable "clocks" warnings"
Compiling a sketch for Teensy3.6 with clockless chips in block-mode gives me a lot of
unused variable "clocks" warnings.
In platforms/arm/clockless_block_arm_k66.h i just changed:

	virtual void showPixels(PixelController<RGB_ORDER, LANES, LANE_MASK> & pixels) {
		mWait.wait();
		uint32_t clocks = showRGBInternal(pixels);
		#if FASTLED_ALLOW_INTERRUPTS == 0
		// Adjust the timer
		long microsTaken

[2018-12-22 00:14] K1ngjulien opened #704 "CRGB::maximizeBrightness() causes Divide By Zero error with color Black"
The function does not check if all of the color channels are zero and therefor tries to divide by zero when maximizing the brightness.

https://github.com/FastLED/FastLED/blob/8f2e86434b2bfa4d6178622ca3745a68303f8b00/pixeltypes.h#L477

[2018-12-22 03:43] kriegsman commented on #704
Thank you; I’ll take a look, should be quick. Much appreciated.

[2018-12-23 13:11] ArcadeNut commented on #542
I have the same issue.  I tested the adafruit Neopixel and it works with my WS2812B strip.  I'm using a Wemos D1 R1 board.  The strip turns on but erratic flashing.  i've use D5 or 15 and D4 or 4 no luck.  Its not a power issue as I'm power with a 5v 60a power supply and only 60LEDs.  I have a 470ohm resistor on the data line.

[2018-12-23 22:08] zipporobotics opened #706 "Can't compile on particle photon"
Ehi Guys

Seems like the example won't compile on photon with any firmware from o.4.x
<img width="1268" alt="screenshot 2018-12-23 at 23 06 05" src="https://user-images.githubusercontent.com/7451515/50387897-9ce61280-0707-11e9-8ab2-60de4a5004c1.png">
 to 0.8.x

Just including the library on any empty project also gives the same error

[2018-12-24 10:37] StefanoMancuso opened #707 "FastLED + Axoloti"
Hello, I'm trying to control a WS2812B led strip with Axoloti that works in C. Is there a dedicated library? Can I use fastLED.h in some ways to adapt it?

[2018-12-25 12:07] heX16 commented on #18
LPD6803 do not require external clocks! (external clock is the optional mode of this chip).
I add [support LPD6803](https://github.com/FastLED/FastLED/pull/701) and its work perfect with leds from aliexpress (and with out external clock).

[2018-12-28 13:52] ctbully opened #708 "FastLed.Show fires on LED[0] without provacation"

[2018-12-30 13:50] marcmerlin commented on #702
typical issues
1) bad wire (loose or too thin for how long you're going) / cross talk between the wiring (if more than 50cm let's say, you should cross signal and ground in twisted pair)
2) low/bad voltage (you are sending 3.3V when the strip wants 5V and it works on 3.3V most of the time).

[2018-12-30 13:56] marcmerlin commented on #703
I don't have commit access to the code, but usually the best way to get this fixed while saving time for the overworked maintainers, is to create a pull request on github. You can look in github help how to do this if you've never done it.

[2018-12-30 13:56] marcmerlin commented on #700
@agootday  can you please resolve/close the issue? Thanks.

[2018-12-30 13:58] marcmerlin commented on #694
You could ask on https://plus.google.com/u/0/communities/109127054924227823508 but I haven't heard of RGBW being worked on or being close to release.

[2018-12-30 14:00] marcmerlin commented on #693
not quite what you want to hear, but seems to me that it's an unsupported architecture and until someone (you?) submits a pull request with clean support to add it, it won't work. Maintainers don't have all hardware available out there, and do rely on outside contributors to add support.

[2018-12-30 14:05] marcmerlin commented on #690
It definitely works for me too. Is there a chance it's an issue with your arduino environment? Have you tried getting the latest version?  Seems to me like the g++ is different and complains.
Also in preferences, do you have compiler warnings to all? If so, try setting it back to default.

[2018-12-30 14:06] marcmerlin commented on #685
Have you used the simple demo examples that come with FastLED to see if colors work there?

[2018-12-30 14:08] marcmerlin commented on #677
@helenchg do you mind resolving this issue?
Basically you need a more powerful microcontroller with more RAM. An ESP8266 would work fine and only costs $3 or so.

[2018-12-30 14:09] marcmerlin commented on #676
@edjeed in the meantime did you try changing the driver to use IRAM and does it work better for you? If so, submit a pull request if Sam is too busy to look at this.

[2018-12-30 14:10] marcmerlin commented on #670
@janfiess can you please close/resolve the issue please?

[2018-12-30 14:12] marcmerlin commented on #651
@jorgecis  note that @focalintent  said level shifter, to move the voltage up from 3.3V to 5V. Adding a resistor actually lowers the voltage further.
Adafruit does recommend them, but I've never used them and I've had strips where adding them made the strip not work.
So yeah, don't use resistors.
Do you mind resolving/closing the issue?

[2018-12-30 14:47] #677 closed

[2018-12-30 14:47] helenchg commented on #677
I just changed my chip to an T84.

[2018-12-30 16:47] KPhillipps commented on #690
I got it to work but didn't do methodical enough testing to properly attribute the problem to a specific issue.   My approach was to reinstall the ESP32 board libraries and fastLED libraries and tested by compiling for different boards.   I also found it helpful to install different ESP32 variants for fastLED.

Andreas Spiess youtube channel helped:
https://www.youtube.com/channel/UCu7_D0o48KbfhpE

[2018-12-30 16:55] esp13 opened #709 "Order problem chinese WS2812B rings"
Hi,
I bought some WS2812B rings, individually they are working great.

If I wire like this:
[DataPin] > in [Type 2] out > in [Type 1] out > in [Type 1]
all are working

If I wire like this:
[DataPin] > in [Type 1] out > in [Type 2] out > in [Type 1]
only the fisrt "Type 1" is working

If I wire like this:
[DataPin] > in [Type 1] out > in [Type 1] out > in [Type 2]
only the "Type 2" is not working

[2018-12-30 16:56] marcperren1970 opened #710 "Compile Error on FastLED"
C:\Program Files (x86)\Arduino\libraries\FastLED\FastLED.cpp: In member function 'void CFastLED::delay(long unsigned int)':

C:\Program Files (x86)\Arduino\libraries\FastLED\FastLED.cpp:132:9: error: 'yield' was not declared in this scope

   yield();

         ^

Using library FastLED at version 3.1.3 in folder: C:\Program Files (x86)\Arduino\libraries\FastLED

[2018-12-30 16:58] marcperren1970 commented on #710
Installed and using Arduino 1.8.3

[2018-12-30 17:21] marcmerlin commented on #690
Glad you got it working. it did look like something was broken with your ESP32 board install (which might not have been your fault).
Do you mind resolving/closing this bug?

[2018-12-30 17:32] focalintent commented on #709
The ws28xx style chips each regenerate the signal - and it sounds like the signal generated by the chips on your type 1 rings is not usable by the chips on your type 2 rings.  There isn’t a lot that can be done at the library level for this, I believe.

And FastLED doesn’t allow for multiple chips or rgb ordering a on a single line.  You will have to reorder the leds by hand before calling FastLED

[2018-12-30 17:39] marcperren1970 commented on #710
Have also installed and tried to compile FastLED-3.2.0 (yes I renamed the folder to just FastLED) in C:\Program Files (x86)\Arduino\libraries

Still same error > C:\Program Files (x86)\Arduino\libraries\FastLED\FastLED.cpp:132:9: error: 'yield' was not declared in this scope

[2018-12-30 17:39] #710 closed

[2018-12-30 17:41] esp13 commented on #709
Oh damn :'(
Thank you for your answer.
Do you know a function/library to make the manual reordering easier?

- Invert color
- Invert way
- Shift

[2018-12-30 17:47] jorgecis commented on #651
Is not an issue with the library so I closed this issue

[2018-12-30 17:47] #651 closed

[2018-12-30 20:20] focalintent commented on #709
I haven't worked something like this into the library yet - and haven't tried it out specifically - but you could use something like this:

[code]

and then in your code:

[code]

[2018-12-30 20:36] focalintent commented on #694
It is being worked on, just slowly (hopefully in the next few months I'll have a first beta of the library available for some platforms) - it is effectively a re-write of all the low level parts of the library (from the CRGB object on up : )

[2018-12-30 20:48] #708 closed

[2018-12-31 10:10] #670 closed

[2019-01-01 22:57] joaovalentee opened #711 "Wrong number of LEDs on ws2812b"
Hey guys I have a quick question. I recently bought a ws2812b strip. I firstly tested it with an Arduino and everything worked fine but I really wanted to control it with an ESP32. The problems appeared when I tried the ESP32.
My strip has 300 leds but I want to control only 90. But when I define the NUM_LEDS 90 somehow more than 90 leds turn on. Can’t understand why.
Thanks.

[2019-01-01 23:56] RococoN8R commented on #711
I'd suggest trying the DemoReelESP32 with your strip and see if the same
issue arises.
I had a similar experience, but it was the result of poorly sequenced
code early in the definitions.
If the demo works, use it to confirm your coding flow is correctly
sequenced.

Ray

------ Original Message ------
From: "joaovalentee" <notifications@github.com>
To: "FastLED/FastLED" <FastLED@noreply.github.com

[2019-01-02 17:10] #700 closed

[2019-01-02 21:43] karevivan opened #712 "Support MBI6030"
Add support for Macroblock [MBI6030](https://cdn.datasheetspdf.com/pdf-down/M/B/I/MBI6030-Macroblock.pdf).
MBI6030 provides SPI-like interface (CKI, SDI), a two-wire transmission interface, to address the data, so that it receives the data directly without a latch command.
Need provides commands:
1. 16-bit gray scale data;
2. 10-bit gray scale data;
3. 6-bit dot correction data;
4. Frequency GCLK

[2019-01-03 15:05] CyanoFresh commented on #664
same

[2019-01-03 19:06] focalintent commented on #664
FastLED is currently 8 bit internally - you could, for now, multiply the values by 4 before writing them out in the analog outout example (just make sure you put the values in an int so that it doesn’t get cut off at 8 bits).  (In the future FastLED will be either 8 or 16 bit internally, which will make it more trivial to support 10/12/16 bit outputs directly).

[2019-01-03 21:04] CyanoFresh commented on #664
yep, but multiplying is not smooth for rainbow animation

[2019-01-03 22:08] demlak commented on #664
8bit is not smooth for anything.

btw. i canceled the use of FastLED for my Project. And i bought a PCA9685 to get smooth 12bit output for my analog LED Stripes. I will see, what software i will use to drive this.

[2019-01-03 22:15] chrisparton1991 commented on #664
@demlak I've found 8 bits to be smooth enough for my use cases.

Also, please keep in mind that @focalintent has given us countless hours of his time and effort for free, so politeness is the least we can offer in return :)

[2019-01-03 22:17] demlak commented on #664
I did not and will not discredit any work of any fastled member

[2019-01-04 01:46] focalintent commented on #664
He’s right - 8bit is pretty poor - for my own work I do all my higher level color work in 16bit and then convert down to 8-bit hsv/rgb at the last moment.  This is why I’m adding support for 16-bit rgb and hsv pixels in addition to the current 8-bit CRGB/CHSV as part of the RGBW rewrite - they will convert down to 8/10/12 bit as necessary depending on your output device.

[2019-01-04 08:55] dr-froehlich opened #713 "Wifi breaks RMT with WS2812B on ESP32"
FastLED.show() stops updating the WS2812B LEDs when Wifi is enabled.
Configuration:
4 strips connected to GPIO 5, 16,17,18 with 21 LEDs each running a simple animation.
FastLED version 3.2.1
Chip is ESP32D0WDQ6 (revision 1)
arduino-esp32 release 1.0 and  1.0.1-rc2 (no change in behavior)

With no Wifi, the program runs forever without issue.

With Wifi enabled, the update of LEDs stalls after an a

[2019-01-04 13:06] marcmerlin commented on #711
@focalintent  @samguyer  seems that https://github.com/FastLED/FastLED/tree/master/examples/DemoReelESP3 should be removed as per https://plus.google.com/113400909968993296978/posts/Bb4F6jPsYJD
Would you agree?

[2019-01-04 13:08] marcmerlin commented on #713
@dr-froehlich  you don't need to do the special ESP32 code anymore. Does it work ok if you remove all the special ESP32 code and just define you LED strip like you would on another CPU?

[2019-01-04 13:10] marcmerlin commented on #703
Actually since you are using teensyduino , check if the FastLED code has the same issue there than in FastLED master from the source. Depending on that you should report the fix to teensy or send a PR to this project.

[2019-01-04 14:43] dr-froehlich commented on #713
Hi Macmerlin, thanks for your quick answer. I believe the special code you refer to is creation of a task in FreeRTOS and pinning it to core 0. Actually I started out without this code, but the behavior is the same with the exception that then core 1 stalls entirely (my application). I don't think that is the issue.

I did another test with DemoReelESP32.ino taken directly from Github and just the

[2019-01-04 18:08] dr-froehlich commented on #713
OK, as suggested, I moved the FastLED.show() back to core 1. For now, this seems to be working with Wifi and ASyncMqttClient enabled. Initially I had a larger application including a webserver running when I had tested that, so may be there was another issue overlaying this one.

So for now, it looks to me like several RMT lines run by FastLED.show() in core 0 are not compatible with Wifi running

[2019-01-05 00:04] marcmerlin commented on #713
Glad it seems to be working better. This has been changing a bit as it seems not to be exact science and more trial and error (sadly). @samguyer  wrote that driver and not that his tree is not identical to the FastLED tree. If FastLED master isn't working well, try his tree (github.com/samguyer).
Also, as per another bug, it seems that FastLED needs to remove the DemoReelESP32 which is not necessa

[2019-01-05 03:09] samguyer commented on #713
@marcmerlin I need to spend some time digging through the WiFi code to understand why it interacts with the RMT-based FastLED driver. My guess is that the WiFi code does not expect to be sharing the CPU core with any other code, so it does not yield frequently enough.

Maybe we should just remove DemoReelESP32 and NOT encourage people to run FastLED on the other core.

[2019-01-05 12:16] marcmerlin commented on #713
@samguyer didn't you move this pinning to cores code inside the FastLED driver later?
https://github.com/FastLED/FastLED/issues/711 is another example of another user having issues with DemoReelESP32 which went away when he just used the driver and let it do the task pinning on its own (I didn't check how it's doing it differently), just that whatever is in the driver works better than doing the p